.footer.footer--home
	.footer__content
		.footer__social.social(data-url="" data-image="" data-title="" data-description="")
			a.social__item.vk(href="")
				svg
					use(xlink:href="images/sprite.svg#soc-vk")
			a.social__item.ok(href="")
				svg
					use(xlink:href="images/sprite.svg#soc-ok")
			a.social__item.fb(href="")
				svg
					use(xlink:href="images/sprite.svg#soc-fb")
			a.social__item.tw(href="")
				svg
					use(xlink:href="images/sprite.svg#soc-tw")

		.footer__link
			a(href="https://woman.ru/" target="_blank")
				img(src="images/sber_logo.svg" alt="СберИнвестиции")

	.footer__copyright © 2021 HSM production