extends ../layouts/default

block vars
	-
		const page = {
			title: 'Женские секреты'
		};

block main
	div(id='fullpage')
		.section.section--1.home
			.home-header
				a.home-header__sber(href="https://woman.ru/" target="_blank")
					img(src="images/sber_logo.svg" alt="СберИнвестиции")
				a.home-header__woman(href="https://woman.ru/" target="_blank")
					img(src="images/woman_logo.svg" alt="woman.ru")
			.home-content
				.home-content__title
					h1 <strong>Женские секреты:</strong> инвестиции – это просто!
				.home-content__text.main-text
					p В наши дни про инвестиции говорят везде. Соцсети, коллеги, личные разговоры… И при этом тема инвестирования все равно кажется многим слишком сложной, непонятной и требующей серьезного количества знаний и времени.
				.home-content__img.start
					svg(viewBox='0 0 1138 1024' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(clip-path='url(#clip0)')
							g.svg-block.svg-block--all
								path(d='M570.217 277.628V-8H1137.95V642.353L570.217 277.628Z' fill='url(#paint0_linear)')
							g.svg-block.svg-block--10
								path(d='M1092.41 351.949L804.464 179.002V-3H1092.41V351.949Z' fill='#C9E6DD')
								path(d='M1064.23 -3H1034.07L1075.05 21.9127L1092.41 13.3531L1064.23 -3Z' fill='#BCFDE9')
								path(d='M1001.42 -3H971.66L1075.28 60.3403L1092.41 51.7358L1001.42 -3Z' fill='#BCFDE9')
								path(d='M937.572 -3H907.677L1076.36 99.4888L1092.41 90.1634L937.572 -3Z' fill='#BCFDE9')
								path(d='M873.768 -3H844.504L1077.4 138.502L1092.41 128.546L873.768 -3Z' fill='#BCFDE9')
								path(d='M798.692 -3L790.756 2.7664L1076.41 176.299L1092.41 166.929L809.965 -3H798.692Z' fill='#BCFDE9')
								path(d='M803.787 31.6885L790.756 41.149L1077.71 215.447L1092.41 205.311L803.787 31.6885Z' fill='#BCFDE9')
								path(d='M803.787 70.071L790.756 79.5315L1076.41 253.064L1092.41 243.694L803.787 70.071Z' fill='#BCFDE9')
								path(d='M803.787 108.454L790.756 117.914L1075.77 291.041L1092.41 282.076L803.787 108.454Z' fill='#BCFDE9')
								path(d='M803.787 146.836L790.756 156.297L1075.5 329.289L1092.41 320.459L803.787 146.836Z' fill='#BCFDE9')
							g.svg-block.svg-block--1
								path(opacity='0.4' d='M101.536 771.061L153.525 794.037C155.915 795.253 171.877 796.65 175.575 794.352L224.047 771.782C227.745 769.485 226.121 766.061 223.731 764.89L162.994 721.687C160.604 720.47 155.599 721.371 151.902 723.714L99.2359 757.907C95.4934 760.159 99.1458 769.845 101.536 771.061Z' fill='#FAED00')
								path(d='M193.205 737.454L181.346 787.595L149.016 789.352L134.317 728.534L193.205 737.454Z' fill='#E8DC00')
								path(d='M165.495 795.812C174.425 795.4 181.511 791.761 181.323 787.685C181.134 783.609 173.741 780.639 164.811 781.052C155.881 781.465 148.794 785.104 148.983 789.18C149.172 793.256 156.564 796.225 165.495 795.812Z' fill='#E8DC00')
								path(d='M135.94 717.137L124.306 764.484L92.9231 765.115L84.1755 703.036L135.94 717.137Z' fill='#E8DC00')
								path(d='M124.361 764.962C124.399 761.056 117.385 757.82 108.694 757.735C100.003 757.65 92.9259 760.747 92.8876 764.653C92.8492 768.56 99.8636 771.795 108.555 771.88C117.246 771.966 124.323 768.868 124.361 764.962Z' fill='#FAED00')
								path(d='M240.866 717.272L229.548 766.692L197.218 768.629L181.887 708.847L240.866 717.272Z' fill='#E8DC00')
								path(d='M213.779 774.954C222.708 774.508 229.785 770.903 229.584 766.902C229.384 762.901 221.983 760.019 213.054 760.465C204.124 760.911 197.048 764.516 197.248 768.517C197.448 772.518 204.849 775.4 213.779 774.954Z' fill='#E8DC00')
								path(d='M153.255 608.161C176.612 606.674 210.61 615.234 235.635 645.102C244.608 655.824 246.592 669.384 246.683 688.8C246.908 725.921 226.752 758.628 188.696 766.917C174.763 769.935 161.596 768.764 150.459 764.214C150.414 764.214 150.369 764.169 150.324 764.169C150.324 764.169 150.279 764.169 150.279 764.124C148.565 763.403 146.942 762.637 145.319 761.781C120.609 750.429 87.6476 737.995 79.8018 703.036C71.4149 665.644 101.986 611.359 153.255 608.161Z' fill='#FAED00')
								path(d='M115.649 620.73C102.528 639.425 93.6897 665.599 97.6577 684.43C107.668 732.003 152.398 762.006 210.069 745.068C218.681 742.545 226.617 739.932 233.471 735.697C223.731 750.924 208.536 762.277 188.29 766.692C174.357 769.71 161.191 768.539 150.053 763.989C150.008 763.989 149.963 763.944 149.918 763.944C149.918 763.944 149.873 763.944 149.873 763.899C148.159 763.178 146.536 762.412 144.913 761.556C120.203 750.203 87.2418 737.77 79.396 702.811C73.2636 675.691 87.6927 639.696 115.649 620.73Z' fill='#E8DC00')
								path(d='M220.124 624.694C220.124 624.694 206.552 627.262 196.948 635.957C192.033 640.417 191.176 647.715 195.144 651.724L199.969 656.59C199.969 656.59 223.957 635.281 220.124 624.694Z' fill='#E8DC00')
								path(d='M232.75 649.742C232.75 649.742 238.566 630.415 218.771 622.261C218.771 622.261 195.279 641.903 198.616 654.157C198.616 654.157 218.275 641.633 232.75 649.742Z' fill='white')
								path(d='M179.047 673.618C179.047 673.618 164.572 655.508 145.815 664.158C145.815 664.158 141.757 675.06 140.359 683.439C139.637 687.899 141.982 692.359 145.995 694.206L156.546 699.027L164.437 675.465L179.047 673.618Z' fill='#E8DC00')
								path(d='M177.559 672.582C177.559 672.582 168.45 661.275 153.3 667.987C153.3 667.987 143.56 692.269 155.103 697.99C155.058 697.99 163.175 675.33 177.559 672.582Z' fill='white')
								path(d='M179.903 656.364L136.571 630.911C134.858 629.92 135.308 627.983 137.608 626.586C139.863 625.19 143.154 624.919 144.823 625.91L188.155 651.364C189.868 652.355 189.417 654.292 187.118 655.688C184.863 657.04 181.617 657.355 179.903 656.364Z' fill='#E8DC00')
								path(d='M175.71 659.247L132.378 633.794C130.664 632.803 131.115 630.866 133.415 629.469C135.669 628.073 138.961 627.802 140.629 628.794L183.961 654.247C185.675 655.238 185.224 657.175 182.924 658.572C180.67 659.923 177.423 660.238 175.71 659.247Z' fill='black')
								path(d='M220.217 685.028C222.707 684.988 224.686 682.476 224.638 679.416C224.59 676.356 222.532 673.907 220.042 673.946C217.552 673.986 215.572 676.498 215.621 679.558C215.669 682.618 217.727 685.067 220.217 685.028Z' fill='black')
								path(d='M182.969 697.135C183.375 700.288 185.675 702.225 188.065 701.504C190.454 700.784 192.078 697.63 191.672 694.477C191.266 691.323 188.966 689.386 186.577 690.107C184.187 690.828 182.564 693.981 182.969 697.135Z' fill='black')
								path(d='M236.898 694.476C236.898 694.476 227.79 685.241 214.668 695.873C201.547 706.505 193.025 725.201 197.534 733.219C202.088 741.238 236.898 694.476 236.898 694.476Z' fill='#FAED00')
								path(d='M195.865 734.03C195.324 721.912 204.974 704.928 217.464 696.053C226.121 689.926 233.832 689.296 237.935 693.53L247.314 700.288L210.926 751.555L201.637 744.302C198.255 742.77 196.091 739.301 195.865 734.03Z' fill='#E8DC00')
								path(d='M242.469 735.422C252.584 721.361 254.866 705.713 247.566 700.471C240.267 695.229 226.149 702.379 216.034 716.44C205.919 730.501 203.636 746.149 210.936 751.391C218.236 756.633 232.354 749.483 242.469 735.422Z' fill='white')
								path(d='M243.405 736.618C253.52 722.557 255.802 706.909 248.502 701.667C241.203 696.425 227.085 703.575 216.97 717.636C206.855 731.697 204.572 747.346 211.872 752.587C219.172 757.829 233.29 750.68 243.405 736.618Z' fill='#FAED00')
								path(d='M236.222 726.417C236.357 729.48 238.566 730.246 241.137 728.129C243.707 726.012 245.691 721.822 245.555 718.758C245.42 715.695 243.211 714.929 240.641 717.047C238.07 719.164 236.086 723.354 236.222 726.417Z' fill='white')
								path(d='M243.711 723.184C245.573 719.58 245.629 715.91 243.837 714.985C242.045 714.061 239.082 716.233 237.22 719.837C235.358 723.44 235.302 727.111 237.094 728.036C238.887 728.96 241.849 726.788 243.711 723.184Z' fill='#E8DC00')
								path(d='M235.726 725.471C235.816 727.408 237.214 727.904 238.882 726.552C240.55 725.201 241.813 722.498 241.723 720.56C241.632 718.623 240.235 718.128 238.566 719.479C236.898 720.876 235.635 723.534 235.726 725.471Z' fill='black')
								path(d='M228.547 733.656C230.409 730.052 230.465 726.381 228.673 725.457C226.88 724.532 223.918 726.704 222.056 730.308C220.194 733.912 220.137 737.582 221.93 738.507C223.722 739.431 226.685 737.259 228.547 733.656Z' fill='white')
								path(d='M220.214 734.796C220.35 737.86 222.559 738.625 225.129 736.508C227.699 734.391 229.683 730.201 229.548 727.138C229.413 724.074 227.203 723.308 224.633 725.426C222.063 727.543 220.079 731.733 220.214 734.796Z' fill='#E8DC00')
								path(d='M220.124 734.931C220.214 736.869 221.612 737.364 223.281 736.013C224.949 734.661 226.211 731.958 226.121 730.021C226.031 728.084 224.633 727.588 222.965 728.94C221.297 730.291 220.034 732.994 220.124 734.931Z' fill='black')
								path(d='M234.102 652.175C234.102 652.175 239.919 632.848 220.124 624.694C220.124 624.694 196.632 644.336 199.969 656.59C199.969 656.59 219.628 644.066 234.102 652.175Z' fill='#E8DC00')
								path(d='M179.046 673.618C179.046 673.618 169.938 662.311 154.788 669.023C154.788 669.023 145.048 693.305 156.591 699.026C156.591 699.072 164.708 676.411 179.046 673.618Z' fill='#E8DC00')
								path(d='M185.585 767.593C168.631 769.665 158.26 769.124 141.937 760.34L143.786 768.043C149.016 771.872 162.002 776.828 185.585 767.593Z' fill='#FAED00')
							g.svg-block.svg-block--all
								path(opacity='0.4' d='M649.036 520.583C676.13 520.583 698.095 513.584 698.095 504.95C698.095 496.317 676.13 489.318 649.036 489.318C621.942 489.318 599.977 496.317 599.977 504.95C599.977 513.584 621.942 520.583 649.036 520.583Z' fill='#2E817B')
								path(d='M696.787 440.889L574.05 437.33L593.845 498.013C594.566 503.644 598.67 509.14 606.155 513.42C622.658 522.925 649.307 522.97 665.72 513.51C672.573 509.546 676.541 504.545 677.624 499.364L696.787 440.889Z' fill='#BBC0C5')
								path(d='M696.787 440.889C679.788 474.857 662.744 508.825 635.419 520.583C646.376 520.673 657.378 518.33 665.72 513.51C672.573 509.546 676.541 504.545 677.624 499.364L696.787 440.889Z' fill='#1F5459')
								path(d='M698.102 433.789C698.21 413.959 670.438 397.733 636.072 397.547C601.706 397.361 573.76 413.285 573.652 433.115C573.544 452.944 601.316 469.17 635.682 469.357C670.048 469.543 697.995 453.619 698.102 433.789Z' fill='white')
								path(d='M688.823 432.557C688.915 415.539 665.088 401.614 635.602 401.454C606.117 401.294 582.14 414.961 582.048 431.979C581.955 448.997 605.783 462.923 635.268 463.082C664.753 463.242 688.73 449.576 688.823 432.557Z' fill='#1F5459')
								path(d='M637.628 414.175C642.904 366.061 683.891 286.954 683.891 286.954C631.09 302.631 627.618 354.754 627.618 354.754L637.628 414.175Z' fill='#27A65F')
								path(d='M625.679 371.602C631.225 323.489 607.958 237.444 607.958 237.444C655.935 264.474 647.728 316.056 647.728 316.056L625.679 371.602Z' fill='#27A65F')
								path(d='M706.572 313.578C662.518 323.534 635.87 400.57 635.87 400.57V400.705C634.246 302.496 572.156 276.457 572.156 276.457C590.689 303.397 608.184 395.254 613.459 424.942C615.443 436.114 625.318 444.268 636.636 443.728C637.267 443.683 637.899 443.638 638.53 443.593C648.224 442.556 655.845 434.988 657.739 425.392C665.855 384.307 706.572 313.578 706.572 313.578Z' fill='#22D128')
								path(d='M639.342 441.295C639.342 441.295 639.747 398.092 633.39 371.647' stroke='#1F5459' stroke-width='1.4641' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M776.688 489.273C776.688 489.273 761.041 559.686 801.127 567.84C841.213 575.994 848.472 566.444 848.472 566.444C848.472 566.444 827.686 569.282 813.707 563.831C799.729 558.335 779.619 548.604 782.82 514.366C786.067 480.128 786.067 480.128 786.067 480.128L776.688 489.273Z' fill='#1B2F61')
								path(d='M894.465 585.139C899.741 586.761 885.762 464.135 887.882 459.09C890.767 452.287 813.798 409.895 821.598 403.228C837.38 389.713 844.73 378.27 839.995 370.116L833.187 352.727C833.187 352.727 845.767 336.779 818.081 350.114C809.288 354.348 767.489 370.296 774.839 419.626C776.868 433.141 775.335 464.901 775.966 480.308C778.131 533.332 807.891 558.695 894.465 585.139Z' fill='black')
								path(d='M959.576 576.625L915.162 478.912C911.599 458.684 919.13 443.728 898.884 447.287L892.887 448.323C872.641 451.882 849.69 470.307 853.252 490.535L876.113 590.906C879.675 611.134 963.138 596.853 959.576 576.625Z' fill='#FFBDAC')
								path(d='M864.525 539.909C864.525 539.909 875.527 520.493 873.317 510.357C869.665 514.591 865.381 518.15 859.97 519.817L864.525 539.909Z' fill='#F9A098')
								path(d='M807.755 372.549C807.755 372.549 790.215 393.497 794.093 417.013C794.814 421.518 796.934 432.645 798.106 437.826C800.857 450.17 798.422 452.557 794.544 464.901C794.093 466.298 792.785 468.956 786.653 477.966C785.706 479.362 785.977 481.299 786.653 482.876C788.051 486.255 791.478 491.21 799.639 490.174C803.201 489.724 803.742 495.175 805.501 502.968C808.251 515.312 813.256 527.881 819.885 532.116C832.6 540.27 878.593 520.087 878.593 520.087L892.346 444.719L807.755 372.549Z' fill='#FFBDAC')
								path(d='M824.484 442.241C819.434 440.98 810.416 440.889 805.321 440.935C799.504 440.935 799.91 435.033 805.23 434.808C814.97 434.402 818.577 435.393 825.206 438.547C826.829 439.313 826.558 442.737 824.484 442.241Z' fill='black')
								path(d='M808.477 453.053C809.108 456.297 810.551 458.774 811.723 458.549C812.896 458.324 813.302 455.486 812.67 452.242C812.039 448.998 810.596 446.521 809.424 446.746C808.251 446.971 807.846 449.809 808.477 453.053Z' fill='#111A33')
								path(d='M807.259 503.194C813.662 502.653 815.421 502.338 825.611 497.698C825.611 497.698 818.081 512.699 807.575 510.942L807.259 503.194Z' fill='#FF5D5B')
								path(d='M807.575 482.245C807.575 482.245 808.251 486.615 804.825 489.273' stroke='#AD5A50' stroke-width='2.0065' stroke-miterlimit='10')
								path(d='M816.052 501.662C816.052 501.662 808.116 497.382 805.185 501.662L807.395 510.402L816.052 501.662Z' fill='#FF5D5B')
								path(d='M801.127 373.089C801.127 373.089 818.983 352.817 839.184 348.807' stroke='#8265A1' stroke-width='3.2598' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M865.697 466.478C865.697 466.478 860.737 471.884 854.83 477.245C845.136 486.075 841.032 498.914 843.918 512.204L845.136 517.835C845.136 517.88 871.424 501.572 865.697 466.478Z' fill='url(#paint1_linear)')
								path(d='M798.557 459C799.819 467.424 806.177 473.416 812.806 472.47C819.434 471.478 823.808 463.865 822.545 455.486C821.283 447.061 815.15 443.638 808.477 444.403C801.127 445.214 797.294 450.62 798.557 459Z' stroke='#F7F3F3' stroke-width='3.2598' stroke-miterlimit='10')
								path(d='M819.163 444.268L866.418 441.655' stroke='#F7F3F3' stroke-width='3.2598' stroke-miterlimit='10')
								path(d='M817.089 446.16L821.373 445.935C821.959 445.89 822.455 445.214 822.41 444.358C822.365 443.547 821.824 442.872 821.238 442.917L814.699 443.232C804.374 443.457 811.994 443.998 813.662 444.809C813.662 445.62 816.503 446.16 817.089 446.16Z' fill='#F7F3F3')
								path(d='M798.467 461.658C799.188 463.189 800.451 464.135 801.353 463.73C802.254 463.325 802.39 461.748 801.668 460.216C800.947 458.684 799.684 457.738 798.782 458.144C797.881 458.504 797.745 460.081 798.467 461.658Z' fill='#F7F3F3')
							g.svg-block.svg-block--6
								path(d='M315.41 323.399L310.405 276.862C309.864 271.862 306.392 269.384 302.649 271.411L226.942 312.452C223.244 314.479 220.629 320.2 221.17 325.246L225.544 365.926L225.409 365.881L223.515 388.451L244.933 371.242L309.638 336.148C313.335 334.166 315.951 328.4 315.41 323.399Z' fill='#DAFCF8')
								path(d='M284.117 394.713L369.158 348.987C373.351 346.735 376.372 340.923 375.922 336.058L371.638 290.918C371.187 286.053 367.354 283.89 363.206 286.143L278.12 331.868C273.926 334.121 270.905 339.932 271.356 344.798L275.64 389.938C276.136 394.803 279.923 396.966 284.117 394.713Z' fill='#FAED00')
								path(d='M348.822 311.055L291.467 343.356' stroke='white' stroke-width='3.3591' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M351.212 329.571L320.099 347.095' stroke='white' stroke-width='3.3591' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M375.651 332.995L381.874 352.051L359.103 353.087L375.651 332.995Z' fill='#FAED00')
							g.svg-block.svg-block--all
								path(d='M279.112 720.155L279.202 704.838L291.602 715.289L294.262 709.162L605.253 529.773C608.996 527.611 616.435 527.881 620.764 530.359L755.495 607.575V605.412L775.967 615.368L778.852 614.197L778.447 623.612C778.131 625.685 777.319 626.541 776.057 627.261L452.441 814.444C448.698 816.607 442.07 816.562 437.741 814.084L282.674 724.75C280.329 723.398 279.112 721.686 279.112 720.019V720.155Z' fill='#9BA1A6')
								path(d='M452.621 801.92L776.237 615.233C779.98 613.071 779.529 609.242 775.2 606.764L620.133 517.294C615.804 514.817 609.221 514.546 605.478 516.709L281.817 703.396C278.075 705.558 278.525 709.388 282.854 711.865L437.921 801.335C442.25 803.813 448.878 804.083 452.621 801.92Z' fill='url(#paint2_linear)')
								path(d='M246.691 481.39C242.363 483.867 239.477 489.589 240.243 494.184L273.836 701.549C274.558 706.144 278.661 707.811 282.989 705.333L600.879 521.935C605.208 519.457 608.094 513.735 607.327 509.14L573.735 301.775C573.013 297.225 568.91 295.513 564.581 297.991L246.691 481.39Z' fill='#D6FBF5')
								path(d='M227.438 463.144C227.438 463.009 227.438 462.919 227.438 462.784V462.739V462.694C227.438 462.604 227.438 462.513 227.438 462.468C227.438 462.333 227.483 462.243 227.483 462.108C227.483 462.063 227.483 462.018 227.528 461.928C227.528 461.883 227.528 461.883 227.528 461.838C227.528 461.793 227.528 461.748 227.528 461.748C227.528 461.612 227.573 461.522 227.573 461.387C227.573 461.297 227.618 461.162 227.618 461.072C227.663 460.937 227.663 460.847 227.708 460.711C227.753 460.576 227.753 460.486 227.798 460.351C227.798 460.306 227.798 460.306 227.843 460.261V460.216C227.843 460.171 227.889 460.081 227.889 460.036C227.934 459.946 227.979 459.81 227.979 459.72C228.024 459.63 228.024 459.54 228.069 459.45V459.405V459.36C228.114 459.27 228.159 459.135 228.204 459.045C228.249 458.955 228.294 458.864 228.339 458.729C228.339 458.684 228.385 458.639 228.385 458.594C228.385 458.594 228.385 458.549 228.43 458.549C228.43 458.504 228.475 458.459 228.475 458.414C228.52 458.324 228.565 458.189 228.61 458.099C228.655 458.008 228.7 457.873 228.745 457.783C228.745 457.783 228.745 457.783 228.745 457.738C228.745 457.738 228.745 457.693 228.79 457.693C228.835 457.603 228.881 457.468 228.971 457.378C229.016 457.288 229.061 457.198 229.151 457.062C229.196 457.017 229.241 456.927 229.241 456.882C229.241 456.837 229.286 456.837 229.286 456.792C229.377 456.612 229.467 456.477 229.602 456.342C229.647 456.297 229.647 456.252 229.692 456.206C229.692 456.206 229.692 456.206 229.692 456.161C229.827 455.981 229.963 455.756 230.098 455.576C230.098 455.531 230.143 455.531 230.143 455.486C230.143 455.441 230.188 455.441 230.188 455.396C230.233 455.351 230.278 455.26 230.323 455.215C230.414 455.125 230.504 454.99 230.594 454.9C230.639 454.855 230.639 454.81 230.684 454.765L230.729 454.72C230.774 454.675 230.774 454.63 230.819 454.63C230.91 454.54 231 454.45 231.09 454.359C231.135 454.269 231.225 454.224 231.27 454.134L231.315 454.089C231.315 454.089 231.315 454.044 231.361 454.044C231.451 453.954 231.541 453.864 231.631 453.774C231.721 453.684 231.812 453.594 231.947 453.503C232.037 453.413 232.127 453.323 232.217 453.233C232.307 453.143 232.443 453.053 232.533 452.963C232.533 452.963 232.578 452.963 232.578 452.918L232.623 452.873C232.713 452.828 232.758 452.738 232.849 452.693C232.939 452.602 233.074 452.557 233.164 452.467C233.209 452.467 233.209 452.422 233.254 452.422C233.254 452.422 233.254 452.422 233.299 452.422C233.345 452.377 233.435 452.332 233.48 452.287C233.57 452.197 233.705 452.152 233.795 452.107C233.841 452.107 241.461 447.692 241.506 447.647L250.975 453.368C250.975 453.368 242.859 457.603 242.769 457.693C242.678 457.783 242.543 457.828 242.453 457.918C242.363 458.008 242.227 458.054 242.137 458.144C242.047 458.234 241.912 458.324 241.822 458.369C241.777 458.414 241.731 458.459 241.686 458.459C241.506 458.594 241.371 458.729 241.19 458.864C241.01 459 240.875 459.18 240.694 459.315L240.649 459.36C240.514 459.495 240.379 459.675 240.198 459.81C240.198 459.856 240.153 459.856 240.153 459.901C240.018 460.036 239.883 460.216 239.747 460.351C239.702 460.396 239.702 460.396 239.657 460.441C239.522 460.621 239.387 460.757 239.297 460.937C239.251 461.027 239.161 461.117 239.116 461.207C239.026 461.297 238.981 461.432 238.891 461.522C238.801 461.658 238.71 461.793 238.665 461.883C238.62 461.973 238.575 462.063 238.53 462.153C238.485 462.243 238.44 462.288 238.395 462.378C238.305 462.513 238.259 462.649 238.169 462.784C238.169 462.829 238.124 462.874 238.124 462.874C238.034 463.054 237.944 463.234 237.854 463.414V463.46C237.763 463.64 237.673 463.865 237.583 464.045C237.583 464.045 237.583 464.09 237.538 464.09C237.448 464.27 237.403 464.496 237.313 464.676C237.313 464.721 237.313 464.721 237.267 464.766C237.222 464.946 237.132 465.171 237.087 465.352C237.087 465.397 237.087 465.397 237.042 465.442C236.997 465.622 236.952 465.847 236.907 466.027C236.907 466.072 236.907 466.072 236.907 466.117C236.862 466.298 236.817 466.523 236.771 466.703C236.771 466.748 236.771 466.748 236.771 466.793C236.726 466.973 236.726 467.199 236.681 467.379C236.681 467.424 236.681 467.424 236.681 467.469C236.681 467.649 236.636 467.874 236.636 468.055C236.636 468.145 236.636 468.235 236.636 468.37C236.636 468.505 236.636 468.595 236.636 468.73C236.636 468.866 236.636 468.956 236.636 469.091C236.636 469.226 236.636 469.316 236.636 469.451C236.636 469.586 236.681 469.721 236.681 469.857C236.681 469.947 236.726 470.037 236.726 470.172C236.726 470.172 236.771 470.352 236.817 470.713L237.628 475.848C238.079 475.578 239.116 474.992 239.161 474.992L248.721 480.173C248.721 480.173 246.421 481.48 246.331 481.57C246.241 481.66 246.105 481.705 246.015 481.795C245.925 481.885 245.79 481.93 245.699 482.02C245.609 482.11 245.474 482.2 245.384 482.245C245.339 482.29 245.294 482.335 245.249 482.335C245.068 482.471 244.933 482.606 244.753 482.741C244.572 482.876 244.437 483.056 244.257 483.191L244.211 483.236C244.076 483.372 243.941 483.552 243.761 483.687C243.761 483.732 243.715 483.732 243.715 483.777C243.58 483.912 243.445 484.092 243.31 484.228C243.265 484.273 243.265 484.273 243.219 484.318C243.084 484.498 242.949 484.633 242.859 484.813C242.814 484.903 242.723 484.993 242.678 485.084C242.588 485.174 242.543 485.309 242.453 485.399C242.363 485.534 242.273 485.669 242.227 485.759C242.182 485.849 242.137 485.939 242.092 486.03C242.047 486.12 242.002 486.165 241.957 486.255C241.867 486.39 241.822 486.525 241.731 486.66C241.731 486.705 241.686 486.75 241.686 486.75C241.596 486.931 241.506 487.111 241.416 487.291V487.336C241.326 487.516 241.235 487.741 241.145 487.922C241.145 487.922 241.145 487.967 241.1 487.967C241.01 488.147 240.965 488.372 240.875 488.552C240.875 488.597 240.875 488.597 240.83 488.642C240.785 488.823 240.694 489.048 240.649 489.228C240.649 489.273 240.649 489.273 240.604 489.318C240.559 489.498 240.514 489.724 240.469 489.904C240.469 489.949 240.469 489.949 240.469 489.994C240.424 490.174 240.379 490.399 240.334 490.58C240.334 490.625 240.334 490.625 240.334 490.67C240.289 490.85 240.289 491.075 240.243 491.255C240.243 491.3 240.243 491.3 240.243 491.345C240.243 491.436 240.243 491.526 240.243 491.616L269.958 675.059C270.094 676.051 273.881 682.267 273.024 681.772L270.319 679.519L273.475 699.026C273.611 700.017 277.398 706.234 276.542 705.738L267.478 698.08C265.584 696.458 264.277 694.206 263.871 691.728L231.406 491.165C231.27 490.174 231 488.733 231 488.733C231 488.642 230.955 488.552 230.955 488.417C230.955 488.327 230.955 488.237 230.91 488.147V488.102C230.91 488.057 230.91 488.057 230.91 488.012C230.91 487.877 230.91 487.787 230.865 487.651C230.865 487.561 230.865 487.471 230.865 487.381V487.336C230.865 487.336 230.865 487.336 230.865 487.291C230.865 487.156 230.865 487.066 230.865 486.931C230.865 486.795 230.865 486.705 230.865 486.57V486.525V486.48C230.865 486.39 230.865 486.345 230.865 486.255L227.798 467.199C227.663 466.208 227.393 464.766 227.393 464.766C227.393 464.676 227.348 464.586 227.348 464.451C227.348 464.361 227.348 464.27 227.302 464.18V464.135C227.302 464.09 227.302 464.09 227.302 464.045C227.302 463.91 227.302 463.82 227.257 463.685C227.257 463.595 227.257 463.505 227.257 463.414V463.369C227.257 463.369 227.257 463.369 227.257 463.324C227.438 463.369 227.438 463.234 227.438 463.144Z' fill='#9BA1A6')
								path(d='M235.644 453.233L242.588 457.243C242.949 457.468 243.4 457.468 243.761 457.243L559.351 275.196L561.109 274.205C561.199 274.16 561.29 274.115 561.38 274.069C561.47 274.024 561.605 273.934 561.695 273.889C561.966 273.754 562.236 273.664 562.507 273.529C562.552 273.529 562.552 273.529 562.597 273.484C562.823 273.394 563.093 273.304 563.319 273.259H563.364C563.634 273.213 563.86 273.123 564.085 273.123H564.13C564.356 273.078 564.581 273.078 564.807 273.078C564.852 273.078 564.897 273.078 564.942 273.078C565.167 273.078 565.393 273.078 565.573 273.123C565.618 273.123 565.708 273.123 565.753 273.168C565.889 273.168 566.069 273.213 566.204 273.259C566.34 273.304 566.43 273.304 566.565 273.349C566.655 273.394 566.745 273.394 566.881 273.439C567.151 273.529 567.377 273.664 567.602 273.799L558.359 268.438C558.133 268.303 557.863 268.168 557.592 268.078C557.592 268.078 557.547 268.078 557.547 268.033H557.502C557.322 267.943 557.096 267.898 556.871 267.853H556.826C556.78 267.853 556.69 267.853 556.645 267.807C556.555 267.807 556.42 267.762 556.33 267.762C556.284 267.762 556.284 267.762 556.284 267.762C556.194 267.762 556.104 267.762 556.059 267.762C556.014 267.762 555.924 267.762 555.879 267.762H555.833C555.698 267.762 555.518 267.762 555.383 267.762C555.383 267.762 555.383 267.762 555.338 267.762C555.202 267.762 555.067 267.762 554.932 267.807C554.887 267.807 554.842 267.807 554.842 267.807C554.796 267.807 554.751 267.807 554.706 267.807C554.661 267.807 554.616 267.807 554.526 267.853C554.436 267.853 554.3 267.898 554.21 267.943C554.21 267.943 554.21 267.943 554.165 267.943C554.03 267.988 553.94 267.988 553.804 268.033C553.669 268.078 553.579 268.123 553.444 268.123C553.308 268.168 553.218 268.213 553.083 268.258C552.993 268.303 552.858 268.348 552.767 268.393C552.677 268.438 552.542 268.483 552.452 268.528C552.362 268.573 552.226 268.618 552.136 268.708C552.091 268.754 551.64 268.979 551.324 269.204L550.874 269.474L235.644 451.206C234.878 451.657 234.878 452.783 235.644 453.233Z' fill='#EBEBEC')
								path(d='M243.174 457.243C238.846 459.721 235.96 465.442 236.726 470.037L270.319 677.402C271.04 681.997 275.144 683.664 279.472 681.186L597.362 497.788C601.691 495.31 604.577 489.589 603.81 484.994L570.217 277.628C569.496 273.078 565.393 271.366 561.064 273.844L243.174 457.243Z' fill='#E2E7F1')
								path(d='M254.537 470.578C250.434 472.875 247.683 477.876 248.36 481.705L278.751 655.688C279.427 659.517 283.26 660.734 287.363 658.436L588.885 487.787C592.988 485.489 595.739 480.489 595.062 476.659L564.671 302.676C563.995 298.847 560.162 297.631 556.059 299.928L254.537 470.578Z' fill='#91F2DB')
								path(opacity='0.28' d='M595.017 476.659L564.626 302.676C563.95 298.847 560.117 297.631 556.014 299.928L322.669 432.015L595.017 476.659Z' fill='white')
								path(d='M608.95 516.393L282.719 704.522' stroke='#209F6D' stroke-width='3.0332' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M597.633 562.299C598.129 562.569 599.075 562.479 599.797 562.029L619.637 550.586C620.358 550.181 620.539 549.595 620.088 549.325L606.921 541.801C606.425 541.531 605.478 541.621 604.757 542.072L584.917 553.514C584.196 553.92 584.015 554.506 584.466 554.776L597.633 562.299Z' fill='#9BA1A6')
								path(d='M574.636 596.447C575.132 596.717 576.079 596.627 576.801 596.177L596.64 584.734C597.362 584.329 597.542 583.788 597.046 583.473L583.925 575.904C583.474 575.634 582.482 575.724 581.761 576.175L561.921 587.617C561.199 588.023 561.019 588.608 561.47 588.879L574.636 596.447Z' fill='#9BA1A6')
								path(d='M586.27 610.638C586.766 610.908 587.713 610.773 588.434 610.368L608.274 598.925C608.995 598.519 609.176 597.979 608.725 597.663L595.558 590.095C595.107 589.825 594.115 589.96 593.394 590.365L573.554 601.808C572.833 602.214 572.652 602.799 573.103 603.069L586.27 610.638Z' fill='#9BA1A6')
								path(d='M617.743 613.386C618.194 613.656 619.186 613.566 619.907 613.116L639.747 601.673C640.469 601.268 640.649 600.682 640.198 600.412L627.077 592.843C626.626 592.573 625.634 592.663 624.912 593.068L605.073 604.511C604.351 604.917 604.171 605.502 604.667 605.773L617.743 613.386Z' fill='#9BA1A6')
								path(d='M672.303 605.412C672.799 605.682 673.746 605.592 674.467 605.142L694.307 593.699C695.029 593.294 695.209 592.708 694.758 592.438L679.337 583.518C678.886 583.247 677.894 583.338 677.173 583.788L657.333 595.231C656.611 595.636 656.431 596.222 656.882 596.492L672.303 605.412Z' fill='#9BA1A6')
								path(d='M638.124 625.144C638.62 625.414 639.747 625.189 640.694 624.648L666.666 609.647C667.613 609.106 667.974 608.43 667.523 608.16L652.102 599.24C651.651 598.97 650.479 599.195 649.532 599.736L623.56 614.737C622.613 615.278 622.252 615.954 622.703 616.224L638.124 625.144Z' fill='#9BA1A6')
								path(d='M467.41 723.713C467.816 723.939 468.718 723.804 469.44 723.398L489.279 711.955C490.001 711.55 490.271 711.009 489.866 710.784L484.139 707.495C483.733 707.27 482.831 707.405 482.11 707.856L462.27 719.299C461.549 719.704 461.278 720.245 461.684 720.47L467.41 723.713Z' fill='#9BA1A6')
								path(d='M440.897 739.391C441.303 739.616 442.205 739.481 442.926 739.075L462.766 727.633C463.488 727.227 463.758 726.687 463.352 726.461L457.626 723.173C457.22 722.948 456.318 723.083 455.597 723.533L435.757 734.976C435.035 735.381 434.765 735.922 435.171 736.147L440.897 739.391Z' fill='#9BA1A6')
								path(d='M412.806 755.203C413.166 755.429 414.068 755.248 414.79 754.843L434.63 743.4C435.351 742.995 435.622 742.454 435.261 742.229L429.76 739.075C429.399 738.85 428.497 739.03 427.776 739.436L407.936 750.879C407.214 751.284 406.944 751.825 407.305 752.005L412.806 755.203Z' fill='#9BA1A6')
								path(d='M430.075 733.354C430.436 733.579 431.338 733.399 432.059 732.994L451.899 721.551C452.621 721.146 452.891 720.605 452.531 720.38L447.03 717.226C446.669 717.001 445.767 717.181 445.046 717.587L425.206 729.029C424.484 729.435 424.214 729.975 424.574 730.156L430.075 733.354Z' fill='#9BA1A6')
								path(d='M501.679 703.801C502.175 704.072 503.122 703.936 503.844 703.531L632.893 629.108C633.615 628.703 633.795 628.117 633.344 627.847L617.923 618.927C617.472 618.657 616.48 618.792 615.759 619.197L486.709 693.62C485.988 694.025 485.807 694.611 486.258 694.881L501.679 703.801Z' fill='#9BA1A6')
								path(d='M641.641 620.233C641.686 620.233 641.776 620.233 641.867 620.188L657.017 611.449C657.107 611.404 657.152 611.359 657.107 611.314L656.16 610.773C656.115 610.773 656.025 610.773 655.935 610.818L640.784 619.558C640.694 619.603 640.649 619.648 640.694 619.693L641.641 620.233Z' fill='#9BA1A6')
								path(d='M680.554 596.132C680.6 596.132 680.645 596.132 680.69 596.132L687.138 592.438C687.183 592.438 687.183 592.393 687.138 592.347L686.191 591.807C686.146 591.807 686.101 591.807 686.056 591.807L679.607 595.501C679.562 595.501 679.562 595.546 679.607 595.591L680.554 596.132Z' fill='#9BA1A6')
								path(d='M590.553 629.063C591.004 629.334 591.996 629.243 592.718 628.793L612.558 617.35C613.279 616.945 613.459 616.359 613.009 616.089L599.887 608.521C599.436 608.25 598.444 608.385 597.723 608.791L577.883 620.234C577.161 620.639 576.981 621.225 577.432 621.495L590.553 629.063Z' fill='#9BA1A6')
								path(d='M563.228 644.786C563.679 645.056 564.671 644.921 565.393 644.515L585.233 633.073C585.954 632.667 586.134 632.082 585.683 631.811L572.562 624.243C572.111 623.973 571.119 624.108 570.398 624.513L550.558 635.956C549.836 636.361 549.656 636.947 550.152 637.217L563.228 644.786Z' fill='#9BA1A6')
								path(d='M535.948 660.553C536.399 660.824 537.391 660.733 538.113 660.283L557.953 648.84C558.674 648.435 558.854 647.894 558.404 647.579L545.282 640.01C544.831 639.74 543.839 639.83 543.118 640.236L523.278 651.678C522.557 652.084 522.376 652.669 522.872 652.94L535.948 660.553Z' fill='#9BA1A6')
								path(d='M508.623 676.276C509.074 676.546 510.066 676.456 510.788 676.005L530.628 664.563C531.349 664.157 531.53 663.572 531.079 663.301L517.957 655.733C517.506 655.463 516.514 655.553 515.793 656.003L495.953 667.446C495.232 667.851 495.051 668.437 495.502 668.707L508.623 676.276Z' fill='#9BA1A6')
								path(d='M481.299 692.043C481.749 692.314 482.741 692.178 483.463 691.773L503.303 680.33C504.024 679.925 504.205 679.384 503.754 679.069L490.632 671.5C490.181 671.23 489.189 671.32 488.468 671.726L468.628 683.168C467.907 683.574 467.726 684.159 468.177 684.43L481.299 692.043Z' fill='#9BA1A6')
								path(d='M453.973 707.766C454.424 708.036 455.416 707.946 456.138 707.495L475.978 696.053C476.699 695.647 476.88 695.062 476.429 694.791L463.307 687.223C462.856 686.953 461.864 687.043 461.143 687.493L441.303 698.936C440.581 699.341 440.401 699.927 440.852 700.197L453.973 707.766Z' fill='#9BA1A6')
								path(d='M392.47 743.22C392.921 743.49 393.913 743.4 394.634 742.95L448.653 711.775C449.374 711.37 449.555 710.784 449.104 710.514L435.982 702.945C435.531 702.675 434.539 702.765 433.818 703.216L379.799 734.39C379.078 734.796 378.897 735.381 379.348 735.652L392.47 743.22Z' fill='#9BA1A6')
								path(d='M559.08 624.738C559.576 625.009 560.523 624.919 561.244 624.468L581.084 613.026C581.806 612.62 581.986 612.079 581.535 611.809L568.369 604.241C567.918 603.97 566.926 604.061 566.204 604.511L546.364 615.954C545.643 616.359 545.463 616.9 545.913 617.17L559.08 624.738Z' fill='#9BA1A6')
								path(d='M531.755 642.038C532.251 642.308 533.198 642.173 533.919 641.767L553.759 630.325C554.481 629.919 554.661 629.379 554.21 629.108L541.044 621.54C540.593 621.27 539.601 621.36 538.924 621.81L519.084 633.253C518.363 633.658 518.183 634.199 518.634 634.469L531.755 642.038Z' fill='#9BA1A6')
								path(d='M504.475 657.805C504.971 658.076 505.918 657.94 506.639 657.535L526.479 646.092C527.201 645.687 527.381 645.101 526.93 644.831L513.764 637.262C513.313 636.992 512.321 637.127 511.599 637.533L491.759 648.975C491.038 649.381 490.858 649.967 491.309 650.237L504.475 657.805Z' fill='#9BA1A6')
								path(d='M477.15 673.528C477.646 673.798 478.593 673.708 479.314 673.257L499.154 661.815C499.876 661.409 500.056 660.869 499.605 660.553L486.439 652.985C485.988 652.715 484.996 652.85 484.274 653.255L464.435 664.698C463.713 665.103 463.533 665.689 463.984 665.914L477.15 673.528Z' fill='#9BA1A6')
								path(d='M449.825 689.295C450.321 689.566 451.268 689.43 451.99 689.025L471.83 677.582C472.551 677.177 472.731 676.636 472.28 676.366L459.114 668.797C458.663 668.527 457.671 668.617 456.95 669.068L437.11 680.51C436.388 680.916 436.208 681.502 436.659 681.727L449.825 689.295Z' fill='#9BA1A6')
								path(d='M422.545 705.018C423.041 705.288 423.988 705.198 424.71 704.747L444.55 693.305C445.271 692.899 445.451 692.313 445 692.043L431.834 684.475C431.383 684.204 430.391 684.34 429.67 684.745L409.83 696.188C409.108 696.593 408.928 697.134 409.379 697.404L422.545 705.018Z' fill='#9BA1A6')
								path(d='M395.22 720.785C395.716 721.056 396.663 720.965 397.385 720.515L417.224 709.072C417.946 708.667 418.126 708.126 417.63 707.856L404.464 700.287C404.013 700.017 403.021 700.107 402.345 700.558L382.505 712C381.783 712.406 381.603 712.946 382.054 713.217L395.22 720.785Z' fill='#9BA1A6')
								path(d='M547.446 612.124C547.942 612.395 548.889 612.305 549.611 611.854L569.451 600.412C570.172 600.006 570.353 599.465 569.857 599.15L556.735 591.582C556.284 591.311 555.292 591.402 554.616 591.852L534.776 603.295C534.055 603.7 533.874 604.286 534.325 604.556L547.446 612.124Z' fill='#9BA1A6')
								path(d='M520.122 627.892C520.618 628.162 521.564 628.072 522.286 627.667L542.126 616.224C542.847 615.819 543.028 615.233 542.577 614.963L529.455 607.394C529.004 607.124 528.012 607.259 527.291 607.665L507.451 619.107C506.73 619.513 506.549 620.053 507 620.324L520.122 627.892Z' fill='#9BA1A6')
								path(d='M492.842 643.614C493.338 643.885 494.285 643.795 495.006 643.344L514.846 631.901C515.567 631.496 515.748 630.955 515.252 630.64L502.13 623.072C501.679 622.801 500.688 622.892 499.966 623.342L480.126 634.785C479.405 635.19 479.224 635.776 479.675 636.046L492.842 643.614Z' fill='#9BA1A6')
								path(d='M465.517 659.382C466.013 659.652 466.96 659.562 467.681 659.157L487.521 647.714C488.242 647.309 488.423 646.723 487.972 646.453L474.85 638.884C474.4 638.614 473.408 638.749 472.686 639.155L452.846 650.597C452.125 651.003 451.944 651.543 452.395 651.814L465.517 659.382Z' fill='#9BA1A6')
								path(d='M438.192 675.104C438.688 675.375 439.635 675.285 440.356 674.879L460.196 663.436C460.918 663.031 461.098 662.49 460.602 662.175L447.48 654.607C447.03 654.336 446.038 654.426 445.316 654.877L425.476 666.32C424.755 666.725 424.574 667.266 425.025 667.536L438.192 675.104Z' fill='#9BA1A6')
								path(d='M410.867 690.872C411.363 691.142 412.31 691.052 413.031 690.602L432.871 679.159C433.592 678.753 433.773 678.213 433.277 677.897L420.155 670.329C419.704 670.059 418.712 670.194 417.991 670.599L398.151 682.042C397.43 682.448 397.249 683.033 397.7 683.303L410.867 690.872Z' fill='#9BA1A6')
								path(d='M383.587 706.594C384.083 706.865 385.03 706.775 385.751 706.369L405.591 694.926C406.313 694.521 406.493 693.98 405.997 693.665L392.876 686.097C392.425 685.826 391.433 685.916 390.711 686.367L370.871 697.81C370.15 698.215 369.969 698.756 370.42 699.026L383.587 706.594Z' fill='#9BA1A6')
								path(d='M601.961 580.725C602.457 580.995 603.404 580.905 604.126 580.455L637.763 561.083C638.485 560.678 638.665 560.092 638.214 559.822L625.093 552.253C624.642 551.983 623.65 552.118 622.928 552.523L589.291 571.895C588.569 572.3 588.389 572.886 588.84 573.156L601.961 580.725Z' fill='#9BA1A6')
								path(d='M338.18 711.91C338.676 712.181 339.623 712.091 340.345 711.64L373.983 692.269C374.704 691.863 374.884 691.277 374.433 691.007L361.312 683.439C360.816 683.168 359.869 683.304 359.148 683.709L325.51 703.081C324.789 703.486 324.608 704.072 325.059 704.342L338.18 711.91Z' fill='#9BA1A6')
								path(d='M613.595 594.915C614.091 595.186 615.038 595.096 615.759 594.645L655.845 571.534C656.566 571.129 656.746 570.588 656.296 570.273L643.129 562.705C642.678 562.434 641.686 562.569 640.965 562.975L600.879 586.086C600.158 586.491 599.977 587.077 600.428 587.347L613.595 594.915Z' fill='#9BA1A6')
								path(d='M645.023 597.618C645.474 597.889 646.466 597.799 647.187 597.348L673.926 581.941C674.648 581.536 674.828 580.95 674.377 580.68L661.256 573.111C660.805 572.841 659.813 572.931 659.091 573.382L632.352 588.789C631.631 589.194 631.451 589.78 631.902 590.05L645.023 597.618Z' fill='#9BA1A6')
								path(d='M570.353 578.067C570.849 578.337 571.796 578.247 572.517 577.796L592.357 566.354C593.078 565.948 593.259 565.363 592.808 565.092L579.686 557.524C579.19 557.254 578.244 557.344 577.522 557.794L557.682 569.237C556.961 569.642 556.78 570.228 557.231 570.498L570.353 578.067Z' fill='#9BA1A6')
								path(d='M543.163 593.744C543.659 594.014 544.606 593.924 545.327 593.474L565.167 582.031C565.889 581.626 566.069 581.04 565.618 580.77L552.497 573.201C552.001 572.931 551.054 573.021 550.332 573.472L530.492 584.914C529.771 585.32 529.591 585.905 530.042 586.176L543.163 593.744Z' fill='#9BA1A6')
								path(d='M515.838 609.466C516.334 609.737 517.281 609.647 518.002 609.241L537.842 597.799C538.564 597.393 538.744 596.853 538.293 596.537L525.172 588.969C524.676 588.699 523.729 588.789 523.007 589.194L503.167 600.637C502.446 601.042 502.266 601.583 502.762 601.898L515.838 609.466Z' fill='#9BA1A6')
								path(d='M488.513 625.234C489.009 625.504 489.956 625.414 490.677 624.964L510.517 613.521C511.239 613.116 511.419 612.53 510.968 612.26L497.847 604.691C497.351 604.421 496.404 604.511 495.682 604.962L475.842 616.404C475.121 616.81 474.941 617.395 475.392 617.666L488.513 625.234Z' fill='#9BA1A6')
								path(d='M461.233 640.957C461.729 641.227 462.676 641.137 463.397 640.731L483.237 629.289C483.959 628.883 484.139 628.297 483.688 628.027L470.567 620.459C470.071 620.188 469.124 620.278 468.403 620.729L448.563 632.172C447.841 632.577 447.661 633.118 448.157 633.433L461.233 640.957Z' fill='#9BA1A6')
								path(d='M433.908 656.724C434.404 656.994 435.351 656.904 436.072 656.499L455.912 645.056C456.634 644.651 456.814 644.11 456.318 643.795L443.197 636.226C442.701 635.956 441.754 636.046 441.032 636.452L421.192 647.894C420.471 648.3 420.291 648.84 420.742 649.156L433.908 656.724Z' fill='#9BA1A6')
								path(d='M406.583 672.446C407.079 672.717 408.026 672.627 408.747 672.176L428.587 660.733C429.309 660.328 429.489 659.742 429.038 659.472L415.917 651.904C415.421 651.633 414.474 651.723 413.753 652.174L393.913 663.617C393.191 664.022 393.011 664.608 393.462 664.878L406.583 672.446Z' fill='#9BA1A6')
								path(d='M379.303 688.214C379.799 688.484 380.746 688.394 381.468 687.989L401.307 676.546C402.029 676.14 402.209 675.6 401.713 675.33L388.592 667.761C388.096 667.491 387.149 667.581 386.427 667.986L366.588 679.429C365.866 679.835 365.686 680.375 366.182 680.645L379.303 688.214Z' fill='#9BA1A6')
								path(d='M363.386 702.089C363.702 701.909 364.108 701.774 364.559 701.729C364.964 701.684 365.325 701.729 365.551 701.864L378.672 709.432C378.897 709.568 378.988 709.748 378.897 710.018C378.807 710.243 378.582 710.514 378.221 710.694L373.036 713.667L390.26 723.623C390.486 723.758 390.576 723.939 390.486 724.209C390.396 724.434 390.17 724.705 389.809 724.885L376.463 732.588C376.147 732.768 375.741 732.904 375.29 732.994C374.884 733.039 374.524 732.994 374.298 732.859L343.05 714.839C342.825 714.703 342.735 714.523 342.825 714.253C342.915 714.028 343.14 713.757 343.501 713.577L363.386 702.089Z' fill='#9BA1A6')
								path(d='M648.585 591.221C648.63 591.221 648.72 591.221 648.811 591.176L663.961 582.437C664.051 582.392 664.096 582.347 664.051 582.301L663.104 581.761C663.059 581.761 662.969 581.761 662.879 581.806L647.728 590.546C647.638 590.591 647.593 590.636 647.638 590.681L648.585 591.221Z' fill='#9BA1A6')
								path(d='M569.496 718.037L641.1 677.898C641.912 677.447 641.912 676.636 641.055 676.186L610.619 658.661C609.762 658.166 608.409 658.166 607.553 658.616L535.948 698.756C535.137 699.206 535.137 700.017 535.994 700.468L566.43 717.992C567.286 718.488 568.684 718.533 569.496 718.037Z' fill='#EBEBEC')
								path(d='M302.965 637.443L566.069 485.669C570.398 483.146 573.148 476.389 572.201 470.532L549.34 330.337C548.394 324.48 544.11 321.777 539.736 324.3L276.632 476.074C272.303 478.596 269.552 485.354 270.499 491.21L293.36 631.406C294.307 637.217 298.636 639.965 302.965 637.443Z' fill='#F5FAFF')
								path(d='M273.069 506.843L270.274 489.724C269.462 484.678 272.889 478.236 277.939 475.353L538.474 325.066C543.524 322.138 548.303 323.85 549.115 328.895L551.911 346.014L273.069 506.843Z' fill='#4FDC6C')
								path(d='M331.026 462.502C331.869 460.213 331.187 457.857 329.504 457.238C327.821 456.62 325.774 457.974 324.932 460.263C324.09 462.551 324.771 464.908 326.454 465.526C328.137 466.144 330.184 464.79 331.026 462.502Z' fill='white')
								path(d='M311.442 470.938C311.938 473.055 313.786 473.911 315.59 472.875C317.394 471.839 318.476 469.271 318.025 467.154C317.529 465.036 315.68 464.18 313.877 465.217C312.028 466.253 310.946 468.821 311.442 470.938Z' fill='white')
								path(d='M298.185 478.596C298.681 480.714 300.53 481.57 302.333 480.534C304.137 479.497 305.219 476.93 304.768 474.812C304.272 472.695 302.423 471.839 300.62 472.875C298.771 473.911 297.689 476.479 298.185 478.596Z' fill='white')
								path(opacity='0.4' d='M605.343 621.36C605.929 617.666 613.369 614.693 623.019 612.35C619.682 611.314 617.292 609.151 616.841 605.412C616.841 605.412 622.658 603.475 629.873 601.673C628.43 600.457 627.483 598.79 627.212 596.537C627.212 596.537 645.789 590.32 657.964 589.825C662.157 589.419 671.762 589.059 683.485 591.987C695.254 594.916 699.267 599.871 725.375 615.729L863.037 646.273L844.865 713.577L708.691 654.156L691.692 656.274L659.768 648.39C659.768 648.39 641.822 649.651 640.739 642.173C639.522 633.839 660.489 637.263 660.489 637.263L675.91 639.29C680.329 639.245 682.313 639.335 683.034 635.1C683.485 632.577 680.284 630.865 680.194 630.37C679.968 629.244 642.904 623.027 642.904 623.027C642.904 623.027 602.953 636.091 605.343 621.36Z' fill='#A8C4E5')
								path(d='M642.994 600.231C642.994 600.231 602.953 613.341 605.343 598.655C605.929 594.96 613.369 591.987 623.019 589.645C619.682 588.608 617.292 586.446 616.841 582.707C616.841 582.707 622.658 580.77 629.872 578.968C628.43 577.751 627.483 576.085 627.212 573.832C627.212 573.832 645.789 567.615 657.964 567.12C662.157 566.714 671.762 566.354 683.485 569.282C695.525 572.255 699.447 577.391 727.359 594.24C727.359 594.24 726.322 595.186 724.698 596.492C729.884 599.015 733.13 604.511 732.634 610.413L732.589 611.088C731.732 621.315 723.842 629.559 713.651 630.82L691.737 633.568L659.813 625.685C659.813 625.685 641.867 626.946 640.784 619.468C639.567 611.133 660.534 614.557 660.534 614.557L675.955 616.584C680.374 616.539 682.358 616.629 683.08 612.395C683.53 609.872 680.329 608.16 680.239 607.665C680.058 606.403 642.994 600.231 642.994 600.231Z' fill='#FFBDAC')
								path(d='M623.019 589.599L645.113 584.058L683.35 595.906' stroke='#EDA28E' stroke-width='3.2598' stroke-miterlimit='10')
								path(d='M629.918 578.923C631.225 577.841 652.373 572.39 652.373 572.39L690.565 584.194' stroke='#EDA28E' stroke-width='3.2598' stroke-miterlimit='10')
								path(d='M725.375 592.933L863.082 623.522L844.91 690.782L704.227 629.379L725.375 592.933Z' fill='#E88087')
								path(d='M750.896 597.123L727.584 590.906C727.584 590.906 712.253 615.323 712.479 635.415L732.454 641.993L750.896 597.123Z' fill='white')
								path(d='M754.323 589.239C754.323 589.239 729.794 608.746 728.351 645.777L884.996 707.495C884.996 707.495 918.589 719.389 944.335 685.826C970.082 652.264 884.861 619.513 884.861 619.513L754.323 589.239Z' fill='#FAED00')
								path(d='M1134.98 690.782L1137.95 1036H513.719L1134.98 690.782Z' fill='#47E3B6')
								path(d='M1133.99 647.534L1126.5 739.481L636.411 1036H508.578L1133.99 647.534Z' fill='#C9E6DD')
								path(d='M821.102 613.882C842.115 604.421 860.151 593.339 876.744 581.671C972.156 570.814 973.554 520.178 973.554 520.178C1018.42 502.428 1036.18 529.773 1058.37 597.438C1063.78 613.972 1080.15 811.471 1080.15 811.471C1080.15 811.516 1082.45 979.372 1063.46 986.13L850.997 1032.76C850.997 1032.76 858.798 953.874 853.883 898.102C851.358 869.45 813.437 802.596 802.209 783.9C801.443 782.639 789.629 801.875 789.223 800.884C782.189 782.594 784.173 764.394 793.326 745.247C775.786 707.631 757.344 642.533 821.102 613.882Z' fill='#FAED00')
								path(d='M841.573 603.745C925.036 587.167 978.514 652.76 985.864 531.034C985.864 531.034 960.884 518.826 953.895 531.034C941.585 552.523 940.728 564.326 905.963 564.056C887.972 563.921 864.93 563.11 859.7 571.94L841.573 603.745Z' fill='url(#paint3_linear)')
								path(d='M719.828 846.024C719.828 846.024 700.169 855.304 687.544 835.302C674.873 815.255 676.812 794.757 676.812 794.757L719.828 846.024Z' fill='#F08B9E')
								path(opacity='0.4' d='M634.832 859.764C537.166 818.363 438.598 741.418 438.598 741.418L478.052 709.207L757.975 822.913L698.23 856.341C678.751 867.243 655.349 868.504 634.832 859.764Z' fill='#A8C4E5')
								path(d='M744.132 824.535C724.743 841.789 718.972 853.142 690.565 849.403C653.545 844.537 529.455 776.287 496.9 750.833C484.139 740.832 494.24 708.126 509.39 714.028C545.553 728.128 649.397 772.773 683.35 777.999C686.326 778.449 714.823 776.332 716.221 775.566C718.791 774.124 770.961 800.659 744.132 824.535Z' fill='#E88087')
								path(d='M430.662 659.562C430.571 659.652 428.452 662.13 429.624 665.824C429.624 665.869 429.624 665.869 429.67 665.914C431.789 672.537 442.746 678.348 462.225 683.213C462.856 683.529 465.066 685.106 468.132 687.313C461.504 686.187 453.613 686.953 448.157 689.656C426.513 700.332 418.848 709.478 418.532 709.883L418.126 710.424L418.217 711.099C418.262 711.37 418.667 713.577 421.373 714.839C426.648 717.226 436.614 713.892 450.998 704.837C454.875 702.405 459.835 702.089 465.832 703.891C461.864 703.396 457.987 704.027 454.83 705.648C445 710.784 426.919 725.786 426.152 726.416L425.431 727.002L425.657 727.903C425.702 728.128 426.243 730.156 428.858 731.147C429.76 731.507 430.797 731.687 431.969 731.687C431.654 731.867 431.518 731.958 431.518 731.958L430.211 732.723L430.977 734.03C436.794 743.671 447.48 737.814 455.281 733.534C456.273 732.994 457.265 732.453 458.212 731.958C461.864 730.02 467.456 728.669 471.108 731.102C481.163 737.859 488.062 743.535 490.542 747.049C491.173 747.905 497.757 754.032 498.613 754.978C515.117 773.133 537.572 752.726 532.341 728.354C512.817 709.207 488.964 677.087 473.498 672.582L473.317 672.446L431.293 658.751L430.662 659.562Z' fill='#FFBDAC')
								path(d='M433.863 731.011L466.779 713.938L483.733 722.993' stroke='#E08E79' stroke-width='3.2598' stroke-miterlimit='10')
								path(d='M465.832 703.846L478.007 709.252' stroke='#E08E79' stroke-width='3.2598' stroke-miterlimit='10')
								path(d='M877.691 712.181L750.084 839.177C708.781 869.405 653.59 801.515 685.605 773.809L789.268 632.172C809.018 607.98 847.075 607.484 862.992 625.234C879.54 643.75 896.81 691.097 877.691 712.181Z' fill='#FAED00')
								path(d='M804.915 787.639C804.915 787.639 849.239 863.323 852.034 885.308C854.83 907.292 850.997 1028.39 850.997 1028.39L877.285 1028.21L914.62 914.725L854.379 733.85C850.637 722.587 834.9 739.616 826.107 747.635L777.409 788.09L791.297 797.325L804.915 787.639Z' fill='#E8DC00')
								path(d='M855.01 729.84C855.01 729.84 870.116 647.534 826.243 612.89' stroke='#D1C600' stroke-width='3.9999' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M853.072 919.456C885.086 932.52 904.069 921.123 920.392 904.184L877.33 1035.46L698.681 1036L795.31 1004.83C827.099 995.545 849.284 966.938 850.456 933.872L853.072 919.456Z' fill='#225A64')
								path(d='M1137.95 1036L877.285 1035.5C877.511 1031.13 878.322 1025.37 879.359 1021L927.02 819.67C935.633 783.224 961.966 746.734 992.853 728.444L1137.95 642.308V1036Z' fill='#9CF392')
								path(d='M1137.95 1036H953.579L983.339 847.195C996.325 792.279 1074.69 757.546 1121.18 730.02L1137.95 720.65C1138.09 722.857 1137.95 1036 1137.95 1036Z' fill='#D0F294')
								path(d='M561.605 732.093L539.33 722.407C539.33 722.407 516.199 744.436 518.588 769.394L536.58 781.152L561.605 732.093Z' fill='white')
								path(d='M563.003 729.84C563.003 729.84 541.044 742.995 532.386 784.035L683.305 858.638C683.305 858.638 715.77 873.279 744.268 842.015C772.72 810.75 690.52 770.971 690.52 770.971L563.003 729.84Z' fill='#FAED00')
								path(d='M811.453 789.486L750.084 838.411C719.829 871.027 686.326 861.521 672.528 853.232C700.89 851.295 746.883 818.048 779.664 786.288C784.894 781.152 811.453 789.486 811.453 789.486Z' fill='#E8DC00')
								path(d='M584.511 801.47C586.877 801.47 588.795 798.989 588.795 795.929C588.795 792.868 586.877 790.387 584.511 790.387C582.145 790.387 580.228 792.868 580.228 795.929C580.228 798.989 582.145 801.47 584.511 801.47Z' fill='#EBEFFF')
								path(d='M570.082 794.487C572.448 794.487 574.366 792.006 574.366 788.946C574.366 785.885 572.448 783.405 570.082 783.405C567.716 783.405 565.799 785.885 565.799 788.946C565.799 792.006 567.716 794.487 570.082 794.487Z' fill='#EBEFFF')
								path(d='M555.698 787.459C558.064 787.459 559.982 784.978 559.982 781.918C559.982 778.858 558.064 776.377 555.698 776.377C553.332 776.377 551.415 778.858 551.415 781.918C551.415 784.978 553.332 787.459 555.698 787.459Z' fill='#EBEFFF')
							g.svg-block.svg-block--2
								path(opacity='0.4' d='M119.716 894.498L94.0142 877.875L87.7015 873.775L82.6513 870.486C80.9379 869.36 78.0971 869.36 76.3386 870.441L6.13232 913.599C4.37378 914.68 4.32869 916.482 6.08722 917.609L20.5163 926.979L20.9672 927.249L43.1518 941.62C44.8653 942.747 47.706 942.747 49.4645 941.665L119.671 898.508C121.429 897.381 121.474 895.624 119.716 894.498Z' fill='#A8C4E5')
								path(d='M114.891 896.12L44.6849 939.278C42.9263 940.359 40.0856 940.314 38.3722 939.233L1.30758 915.221C-0.405867 914.095 -0.405867 912.293 1.35267 911.212L71.559 868.054C73.3175 866.972 76.1582 867.017 77.8717 868.099L114.936 892.11C116.695 893.282 116.65 895.039 114.891 896.12Z' fill='url(#paint4_linear)')
								path(d='M92.7516 877.739L16.1425 924.862L6.35779 918.51L82.9669 871.387L92.7516 877.739Z' fill='black')
								path(d='M100.507 886.074L69.9357 904.859L65.6521 902.066L96.2236 883.281L100.507 886.074Z' fill='white')
							g.svg-block.svg-block--5
								path(d='M275.64 760.069L108.488 854.133L334.077 985.229L501.229 891.164L275.64 760.069Z' fill='#F5FAFF')
								path(d='M290.835 782.233L220.313 821.922C219.547 822.328 218.329 822.328 217.563 821.877L216.436 821.202C215.669 820.751 215.669 820.075 216.436 819.625L286.957 779.936C287.724 779.53 288.941 779.53 289.708 779.981L290.835 780.657C291.557 781.107 291.557 781.828 290.835 782.233Z' fill='#BCFDE9')
								path(d='M304.903 790.433L234.382 830.122C233.615 830.527 232.398 830.527 231.631 830.076L230.504 829.401C229.737 828.95 229.737 828.275 230.504 827.824L301.026 788.135C301.792 787.73 303.01 787.73 303.776 788.18L304.903 788.856C305.67 789.306 305.67 790.027 304.903 790.433Z' fill='#BCFDE9')
								path(d='M318.476 798.947L175.764 879.226C174.681 879.812 172.968 879.812 171.886 879.181C170.804 878.55 170.804 877.559 171.886 876.974L314.553 796.695C315.635 796.109 317.349 796.109 318.431 796.74C319.513 797.37 319.513 798.361 318.476 798.947Z' fill='#BCFDE9')
								path(d='M259.858 848.051L189.336 887.741C188.569 888.146 187.352 888.146 186.585 887.695L185.458 887.02C184.692 886.569 184.692 885.893 185.458 885.443L255.98 845.754C256.747 845.348 257.964 845.348 258.73 845.799L259.858 846.475C260.624 846.925 260.624 847.646 259.858 848.051Z' fill='#BCFDE9')
								path(d='M273.971 856.251L203.449 895.94C202.683 896.345 201.465 896.345 200.699 895.895L199.571 895.219C198.805 894.768 198.805 894.093 199.571 893.642L270.093 853.998C270.86 853.593 272.077 853.593 272.844 854.043L273.971 854.719C274.693 855.124 274.693 855.845 273.971 856.251Z' fill='#BCFDE9')
								path(d='M360.771 823.544L218.104 903.823C217.022 904.409 215.308 904.409 214.226 903.778C213.144 903.148 213.144 902.156 214.226 901.571L356.893 821.292C357.975 820.706 359.689 820.706 360.771 821.337C361.853 821.967 361.853 822.959 360.771 823.544Z' fill='#BCFDE9')
								path(d='M445.406 872.739L302.739 953.018C301.657 953.604 299.943 953.604 298.861 952.973C297.779 952.342 297.779 951.351 298.861 950.765L441.528 870.486C442.611 869.901 444.324 869.901 445.406 870.531C446.443 871.117 446.443 872.108 445.406 872.739Z' fill='#BCFDE9')
								path(d='M459.52 880.938L316.853 961.217C315.77 961.803 314.057 961.803 312.975 961.172C311.893 960.541 311.893 959.55 312.975 958.964L455.642 878.685C456.724 878.1 458.437 878.1 459.52 878.731C460.557 879.316 460.557 880.307 459.52 880.938Z' fill='#BCFDE9')
								path(d='M474.625 889.723L331.958 970.002C330.876 970.587 329.162 970.587 328.08 969.957C326.998 969.326 326.998 968.335 328.08 967.749L470.747 887.47C471.83 886.884 473.543 886.884 474.625 887.515C475.662 888.101 475.707 889.092 474.625 889.723Z' fill='#BCFDE9')
								path(d='M348.912 815.48L279.923 854.313L259.768 842.6L328.757 803.767L348.912 815.48ZM279.923 852.151L345.17 815.435L328.757 805.93L263.51 842.646L279.923 852.151Z' fill='#BCFDE9')
								path(d='M333.491 922.879L331.733 923.871L265.945 885.668L267.704 884.677L333.491 922.879Z' fill='#BCFDE9')
								path(d='M435.576 865.621L288.806 948.198L222.117 909.455L368.887 826.878L435.576 865.621ZM288.806 946.08L431.879 865.576L368.887 828.95L225.814 909.455L288.806 946.08Z' fill='#BCFDE9')
								path(d='M398.377 844.267L251.832 926.709L231.406 914.861L377.951 832.419L398.377 844.267ZM251.832 924.591L394.679 844.222L377.951 834.491L235.103 914.861L251.832 924.591Z' fill='#BCFDE9')
								path(d='M435.531 865.846L288.987 948.288L268.56 936.44L415.105 853.998L435.531 865.846ZM289.032 946.215L431.879 865.846L415.15 856.115L272.303 936.485L289.032 946.215Z' fill='#BCFDE9')
								path(d='M274.963 902.652L253.68 914.68L251.11 913.194L272.438 901.165L274.963 902.652Z' fill='#BCFDE9')
								path(d='M294.262 913.869L272.934 925.853L270.409 924.366L291.737 912.383L294.262 913.869Z' fill='#BCFDE9')
								path(d='M313.561 925.087L292.233 937.07L289.708 935.584L310.991 923.6L313.561 925.087Z' fill='#BCFDE9')
								path(d='M343.997 885.893L322.669 897.877L320.099 896.435L341.427 884.407L343.997 885.893Z' fill='#BCFDE9')
								path(d='M363.296 897.111L341.968 909.094L339.398 907.608L360.726 895.624L363.296 897.111Z' fill='#BCFDE9')
								path(d='M243.67 841.069L173.599 880.442L129.185 854.629L199.211 815.21L243.67 841.069Z' fill='#42E3B4')
								path(d='M282.358 842.6L315.094 938.061C315.951 940.629 314.598 943.467 312.028 944.368C309.458 945.269 306.662 943.918 305.805 941.35L273.07 845.889C272.213 843.321 273.566 840.483 276.136 839.582C278.661 838.681 281.456 840.032 282.358 842.6Z' fill='#1F4F5E')
								path(d='M306.978 943.242L314.237 951.621C314.778 952.252 315.861 951.847 315.816 950.991L315.32 939.052L306.978 943.242Z' fill='#1F4F5E')
							g.svg-block.svg-block--3
								path(opacity='0.4' d='M350.851 899.408L437.155 847.781C438.102 847.195 439.59 847.195 440.492 847.781L447.571 852.151C447.616 852.196 447.661 852.196 447.706 852.241L519.22 896.255C520.122 896.795 520.077 897.742 519.13 898.282L436.298 950.585C435.351 951.171 432.916 952.207 429.489 949.909L422.41 945.54C422.365 945.495 422.32 945.495 422.275 945.449L350.761 901.436C349.859 900.895 349.859 899.994 350.851 899.408Z' fill='#BCFDE9')
								path(d='M498.704 893.687L511.509 893.056L512.817 884.767L500.011 885.398L498.704 893.687Z' fill='#1F4F5E')
								path(d='M349.002 900.354L361.808 899.724L363.116 891.434L350.31 892.065L349.002 900.354Z' fill='black')
								path(d='M429.76 818.363C431.563 817.327 434.269 818.544 434.539 820.481L437.155 839.717L424.484 845.979L347.289 899.363L343.952 874.045C343.772 872.604 343.727 871.027 345.079 870.261L429.76 818.363Z' fill='#1F4F5E')
								path(d='M424.529 945.359L510.833 893.732C511.78 893.146 511.825 892.245 510.923 891.705L439.409 847.691C438.507 847.15 437.019 847.15 436.073 847.691L349.814 894.993C348.867 895.579 347.965 896.705 347.334 899.408L421.238 945.359C422.094 945.945 423.582 945.945 424.529 945.359Z' fill='#1F4F5E')
								path(d='M349.498 870.621L359.689 864.54L433.412 820.436C435.216 819.354 437.155 820.12 437.425 821.967L439.995 839.717C440.221 839.762 440.446 839.852 440.627 839.987L512.141 884.001C513.042 884.542 512.997 885.488 512.05 886.028L425.747 937.656C424.8 938.241 423.312 938.241 422.41 937.656L350.896 893.642C350.49 893.417 350.31 893.101 350.265 892.786L347.605 874.27C347.379 872.919 348.191 871.387 349.498 870.621Z' fill='#215B4A')
								path(d='M350.896 893.642L422.41 937.656C422.861 937.926 423.447 938.061 424.078 938.061C424.078 938.061 425.161 938.286 426.558 937.16C427.956 936.079 454.65 920.357 454.65 920.357' stroke='#2A9E3E' stroke-width='1.329' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M437.606 859.449L448.473 852.962C449.239 852.511 449.284 851.746 448.563 851.295L441.078 846.7C440.311 846.249 439.094 846.249 438.282 846.7L427.415 853.187C426.649 853.638 426.604 854.403 427.325 854.854L434.81 859.449C435.577 859.9 436.839 859.9 437.606 859.449Z' fill='#2A9E3E')
								path(d='M415.466 872.694L426.333 866.207C427.099 865.756 427.145 864.99 426.423 864.54L418.938 859.945C418.171 859.494 416.954 859.494 416.142 859.945L405.276 866.432C404.509 866.882 404.464 867.648 405.185 868.099L412.67 872.694C413.437 873.144 414.699 873.144 415.466 872.694Z' fill='#2A9E3E')
								path(d='M393.326 885.938L404.193 879.451C404.96 879.001 405.005 878.235 404.284 877.784L396.798 873.189C396.032 872.739 394.814 872.739 394.003 873.189L383.136 879.676C382.369 880.127 382.324 880.893 383.046 881.343L390.531 885.938C391.297 886.389 392.56 886.389 393.326 885.938Z' fill='#2A9E3E')
								path(d='M371.187 899.183L382.054 892.696C382.82 892.245 382.865 891.48 382.144 891.029L374.659 886.434C373.892 885.983 372.675 885.983 371.863 886.434L360.996 892.921C360.23 893.372 360.185 894.137 360.906 894.588L368.391 899.183C369.158 899.634 370.375 899.634 371.187 899.183Z' fill='#2A9E3E')
								path(d='M454.695 869.946L465.562 863.458C466.328 863.008 466.373 862.242 465.652 861.792L458.167 857.197C457.4 856.746 456.183 856.746 455.371 857.197L444.505 863.684C443.738 864.134 443.693 864.9 444.414 865.351L451.899 869.946C452.666 870.396 453.883 870.396 454.695 869.946Z' fill='#2A9E3E')
								path(d='M432.555 883.19L443.422 876.703C444.189 876.253 444.234 875.487 443.513 875.036L436.027 870.441C435.261 869.991 434.043 869.991 433.232 870.441L422.365 876.928C421.598 877.379 421.553 878.145 422.275 878.595L429.76 883.19C430.526 883.686 431.744 883.641 432.555 883.19Z' fill='#2A9E3E')
								path(d='M410.416 896.435L421.283 889.948C422.049 889.497 422.094 888.731 421.373 888.281L413.888 883.686C413.121 883.235 411.904 883.235 411.092 883.686L400.225 890.173C399.459 890.624 399.414 891.389 400.135 891.84L407.62 896.435C408.342 896.931 409.604 896.886 410.416 896.435Z' fill='#2A9E3E')
								path(d='M388.231 909.68L399.098 903.193C399.865 902.742 399.91 901.976 399.188 901.526L391.703 896.931C390.937 896.48 389.719 896.48 388.908 896.931L378.041 903.418C377.274 903.868 377.229 904.634 377.951 905.085L385.436 909.68C386.202 910.175 387.465 910.13 388.231 909.68Z' fill='#2A9E3E')
								path(d='M471.739 880.442L482.606 873.955C483.373 873.505 483.418 872.739 482.696 872.288L475.211 867.693C474.445 867.243 473.227 867.243 472.416 867.693L461.549 874.18C460.782 874.631 460.737 875.397 461.459 875.847L468.944 880.442C469.71 880.938 470.973 880.893 471.739 880.442Z' fill='#2A9E3E')
								path(d='M449.6 893.687L460.467 887.2C461.233 886.749 461.278 885.983 460.557 885.533L453.072 880.938C452.305 880.487 451.088 880.487 450.276 880.938L439.409 887.425C438.643 887.876 438.598 888.641 439.319 889.092L446.804 893.687C447.571 894.183 448.833 894.183 449.6 893.687Z' fill='#2A9E3E')
								path(d='M427.46 906.932L438.327 900.444C439.094 899.994 439.139 899.228 438.417 898.778L430.932 894.182C430.166 893.732 428.948 893.732 428.137 894.182L417.27 900.67C416.503 901.12 416.458 901.886 417.18 902.337L424.665 906.932C425.431 907.427 426.694 907.427 427.46 906.932Z' fill='#2A9E3E')
								path(d='M405.321 920.176L416.187 913.689C416.954 913.239 416.999 912.473 416.278 912.022L408.793 907.427C408.026 906.977 406.809 906.977 405.997 907.427L395.13 913.914C394.364 914.365 394.318 915.131 395.04 915.581L402.525 920.176C403.292 920.672 404.509 920.672 405.321 920.176Z' fill='#2DDC31')
								path(d='M488.829 890.939L499.695 884.452C500.462 884.001 500.507 883.235 499.786 882.785L492.301 878.19C491.534 877.739 490.317 877.739 489.505 878.19L478.638 884.677C477.872 885.127 477.827 885.893 478.548 886.344L486.033 890.939C486.8 891.434 488.017 891.434 488.829 890.939Z' fill='#2A9E3E')
								path(d='M466.689 904.184L477.556 897.697C478.323 897.246 478.368 896.48 477.646 896.03L470.161 891.435C469.395 890.984 468.177 890.984 467.366 891.435L456.499 897.922C455.732 898.372 455.687 899.138 456.408 899.589L463.894 904.184C464.66 904.679 465.878 904.679 466.689 904.184Z' fill='#2A9E3E')
								path(d='M444.504 917.428L455.371 910.941C456.138 910.491 456.183 909.725 455.462 909.274L447.976 904.679C447.21 904.229 445.992 904.229 445.181 904.679L434.314 911.166C433.547 911.617 433.502 912.383 434.224 912.833L441.709 917.428C442.475 917.924 443.738 917.924 444.504 917.428Z' fill='#2A9E3E')
								path(d='M422.996 930.313L432.601 924.591C433.728 923.916 433.773 922.834 432.691 922.159L415.195 911.392C414.113 910.716 412.31 910.716 411.182 911.437L401.578 917.158C400.451 917.834 400.406 918.915 401.488 919.591L418.983 930.358C420.065 930.988 421.869 930.988 422.996 930.313Z' fill='#2DDC31')
								path(d='M354.639 871.567L361.087 867.693L412.039 837.239V837.284L431.067 825.887C431.834 825.436 432.646 825.751 432.781 826.562L434.404 837.78C434.494 838.366 434.134 838.996 433.593 839.357L426.333 843.681L375.38 874.135V874.09L357.525 884.767C356.127 885.578 354.639 884.992 354.413 883.596L353.106 874.451C353.015 873.369 353.647 872.198 354.639 871.567Z' fill='#1F4F5E')
								path(d='M428.407 830.482L429.444 839.041' stroke='#22D327' stroke-width='1.329' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M512.05 886.028C512.05 886.028 513.809 885.037 512.141 884.001C510.472 882.965 439.95 839.672 439.95 839.672L437.921 825.481' stroke='#1F4F5E' stroke-width='1.329' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
							g.svg-block.svg-block--all
								path(d='M971.976 463.234C971.976 463.234 972.111 485.444 965.618 494.454C957.908 505.131 912.907 445.98 859.88 436.385C807.981 427.014 801.172 391.019 801.127 373.044C801.127 367.503 803.156 362.232 807.485 357.412C823.853 339.077 875.572 328.805 921.835 346.059C972.923 365.07 971.705 431.97 971.976 463.234Z' fill='black')
								path(d='M949.476 621.18C949.476 621.18 897.982 600.547 906.053 560.768C914.125 520.989 911.464 514.546 911.464 514.546L920.077 525.133C920.077 525.133 907.767 560.452 911.78 576.355C916.199 593.834 936.354 615.594 949.476 614.017C962.597 612.485 949.476 621.18 949.476 621.18Z' fill='#463757')
								path(d='M852.936 338.491C813.572 346.915 864.209 359.259 852.035 397.597C848.833 407.733 874.4 439.358 879.224 447.872C894.735 475.263 877.195 474.091 909.841 512.249C919.13 523.106 916.154 553.244 917.867 569.597C923.007 620.098 1009.4 670.96 1049.53 646.948C1072.39 645.867 1072.3 604.917 1060.53 576.31C1058.6 586.807 1077.94 548.424 1032.49 512.249C1018.87 501.437 1036.77 478.326 995.739 437.646C972.968 415.076 977.567 392.145 951.911 363.899C924.45 333.716 896.81 329.075 852.936 338.491Z' fill='black')
								path(d='M881.934 478.815C890.531 478.245 896.83 467.68 896.003 455.218C895.175 442.755 887.535 433.114 878.938 433.684C870.34 434.254 864.041 444.818 864.869 457.281C865.696 469.743 873.336 479.384 881.934 478.815Z' fill='#F39592')
								path(d='M883.102 456.297C884.275 461.477 880.983 466.613 878.323 467.199C875.662 467.784 877.376 463.009 876.203 457.828C875.031 452.648 871.469 449.044 874.084 448.458C876.789 447.917 881.93 451.161 883.102 456.297Z' fill='#FF6C63')
								path(d='M864.84 457.243C864.84 457.243 864.525 444.088 870.161 438.502' stroke='#FF5D5B' stroke-width='3.2598' stroke-miterlimit='10')
								path(d='M351.663 598.114L524.27 495.806C527.832 493.688 530.042 488.102 529.185 483.327L513.674 395.209C512.817 390.434 509.255 388.271 505.693 390.389L333.13 492.652C329.568 494.769 327.359 500.356 328.216 505.131L343.727 593.249C344.538 598.024 348.146 600.186 351.663 598.114Z' fill='#14DC39')
								path(d='M510.247 479.948L498.658 418.094L343.005 510.131L355.044 570.589L510.247 479.948Z' fill='#BCFDE9')
								path(d='M366.407 497.607L378.897 554.506' stroke='#22D327' stroke-width='1.228' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M417.721 466.208L429.76 525.628' stroke='#22D327' stroke-width='1.228' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M438.913 453.684L450.952 513.735' stroke='#22D327' stroke-width='1.228' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M481.93 427.194L493.518 486.886' stroke='#22D327' stroke-width='1.228' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M392.56 480.173L404.103 541.486' stroke='#22D327' stroke-width='1.228' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M462.045 439.358L474.174 498.734' stroke='#22D327' stroke-width='1.228' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M350.806 525.493L499.56 437.195' stroke='#22D327' stroke-width='1.228' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M354.278 539.324L502.987 451.026' stroke='#22D327' stroke-width='1.228' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M356.758 553.695L506.414 464.856' stroke='#22D327' stroke-width='1.228' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(opacity='0.78' d='M507 462.739C507 462.739 490.226 463.775 486.394 473.145C482.561 482.561 480.216 482.516 473.678 483.056C467.14 483.597 462.811 464.045 453.613 470.487C444.369 476.975 450.006 496.571 444.91 499.725C439.815 502.878 440.897 492.652 434.269 496.932C424.845 503.013 427.821 518.33 422.41 518.691C416.999 519.051 414.023 515.042 406.854 520.042C400.766 524.277 403.021 532.701 396.348 536.711C373.441 550.496 377.455 514.546 345.846 524.502L355.044 570.543L510.202 479.903L507 462.739Z' fill='white')
								path(d='M510.607 464.631C510.607 464.631 493.834 465.667 490.001 475.037C486.168 484.453 483.823 484.408 477.285 484.948C470.747 485.489 466.418 465.937 457.22 472.379C447.976 478.867 453.613 498.463 448.517 501.617C443.422 504.77 443.332 494.679 436.704 498.959C427.28 505.041 431.022 518.105 426.017 520.583C420.471 523.331 417.63 516.934 410.461 521.934C404.374 526.169 406.628 534.594 399.955 538.603C377.049 552.388 381.062 516.438 349.453 526.394' stroke='#42E3B4' stroke-width='4.3634' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(opacity='0.47' d='M418.667 507.744L388.998 525.944L384.669 504.59L414.339 486.39L418.667 507.744Z' fill='#209F6D')
								path(d='M419.885 502.608L390.215 520.853L385.886 499.5L415.511 481.299L419.885 502.608Z' fill='white')
								path(d='M414.023 492.922L391.884 506.392L391.162 502.743L413.302 489.273L414.023 492.922Z' fill='#209F6D')
								path(d='M414.564 494.949L396.573 505.987L397.385 510.266L415.376 499.229L414.564 494.949Z' fill='#209F6D')
								path(d='M517.265 413.247C521.901 401.567 519.279 389.57 511.409 386.451C503.538 383.332 493.398 390.273 488.761 401.953C484.125 413.633 486.746 425.63 494.617 428.749C502.488 431.868 512.628 424.928 517.265 413.247Z' fill='#34C8CC')
								path(d='M497.892 409.895L504.114 415.211L510.247 400.344' stroke='white' stroke-width='2.456' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M463.893 474.407C463.352 478.506 460.376 481.48 457.22 481.074C454.064 480.669 451.899 477.02 452.44 472.965C452.981 468.866 455.957 465.892 459.114 466.298C462.27 466.658 464.435 470.307 463.893 474.407Z' fill='#FAED00')
								path(d='M969.625 926.258C969.625 926.258 1033.38 943.287 1082.4 967.569V935.358C1056.74 923.24 1019.45 914.951 969.625 926.258Z' fill='url(#paint5_linear)')
								path(d='M1082.4 833.816C1063.77 805.479 1046.23 784.711 1046.23 785.882C1046.64 816.652 1057.37 850.304 1070.63 880.352C1042.63 853.773 997.671 824.22 940 830.482C940 830.482 1024.09 864.495 1082.35 915.221V833.816H1082.4Z' fill='url(#paint6_linear)')
								path(d='M1082.4 998.924V961.577C1046.59 951.802 999.61 951.982 950.867 988.382C950.867 988.382 1021.25 988.292 1082.4 998.924Z' fill='url(#paint7_linear)')
							g.svg-block.svg-block--4
								path(opacity='0.4' d='M184.015 1014.29L207.237 1012.35L263.826 978.111L202.638 941.305L184.015 1014.29Z' fill='#A8C4E5')
								path(d='M184.015 1014.29L249.532 976.489V972.66L157.502 923.42L91.9851 957.343V961.172L184.015 1014.29Z' fill='#07317D')
								path(d='M184.015 1010.46L249.532 972.66L157.502 919.546L91.9851 957.343L184.015 1010.46Z' fill='#21A038')
								path(d='M184.015 1004.33L245.79 968.695V959.91L159.035 918.69L97.3058 945.494V954.279L184.015 1004.33Z' fill='#C9E6DD')
								path(d='M184.015 995.545L245.79 959.911L159.035 909.905L97.3058 945.495L184.015 995.545Z' fill='#F5FAFF')
								path(d='M157.773 922.204L160.839 920.447C162.101 919.726 161.966 918.42 160.478 917.564C158.99 916.708 156.735 916.618 155.473 917.338L152.407 919.095C151.144 919.816 151.279 921.123 152.767 921.978C154.21 922.834 156.51 922.925 157.773 922.204Z' fill='#C9E6DD')
								path(d='M145.012 929.547L148.078 927.79C149.34 927.069 149.205 925.763 147.717 924.907C146.229 924.051 143.975 923.961 142.712 924.682L139.646 926.439C138.383 927.159 138.519 928.466 140.007 929.322C141.45 930.178 143.749 930.268 145.012 929.547Z' fill='#C9E6DD')
								path(d='M132.251 936.89L135.317 935.133C136.58 934.412 136.445 933.106 134.957 932.25C133.469 931.394 131.214 931.304 129.952 932.025L126.885 933.782C125.623 934.502 125.758 935.809 127.246 936.665C128.734 937.521 130.989 937.611 132.251 936.89Z' fill='#C9E6DD')
								path(d='M119.49 944.233L122.557 942.476C123.819 941.755 123.684 940.449 122.196 939.593C120.708 938.737 118.453 938.647 117.191 939.368L114.125 941.125C112.862 941.846 112.997 943.152 114.485 944.008C115.973 944.864 118.228 944.954 119.49 944.233Z' fill='#C9E6DD')
								path(d='M138.609 921.753C138.384 921.303 138.068 920.267 137.888 919.816C136.986 917.068 137.211 914.41 138.519 912.608C139.646 911.076 141.495 910.22 143.704 910.22C148.89 910.22 154.571 914.725 156.42 920.221C156.51 920.537 156.871 920.717 157.186 920.582C157.502 920.492 157.682 920.131 157.547 919.816C155.563 913.869 149.386 909.004 143.749 909.004C141.134 909.004 138.97 910.04 137.617 911.887C136.084 914.005 135.768 917.023 136.805 920.176C136.986 920.672 137.437 921.798 137.662 922.294L138.609 921.753Z' fill='#07317D')
								path(d='M125.848 929.051C125.623 928.601 125.307 927.565 125.127 927.114C124.225 924.366 124.45 921.708 125.758 919.906C126.885 918.375 128.734 917.519 130.943 917.519C136.129 917.519 141.81 922.024 143.659 927.52C143.749 927.835 144.11 928.015 144.426 927.88C144.741 927.79 144.922 927.43 144.786 927.114C142.802 921.168 136.625 916.302 130.989 916.302C128.373 916.302 126.209 917.338 124.856 919.185C123.323 921.303 123.008 924.321 124.045 927.475C124.225 927.97 124.676 929.096 124.901 929.592L125.848 929.051Z' fill='#07317D')
								path(d='M113.088 936.394C112.862 935.944 112.547 934.908 112.366 934.457C111.464 931.709 111.69 929.051 112.997 927.249C114.125 925.718 115.973 924.862 118.183 924.862C123.368 924.862 129.05 929.367 130.898 934.863C130.989 935.178 131.349 935.358 131.665 935.223C131.981 935.133 132.161 934.773 132.026 934.457C130.042 928.511 123.864 923.645 118.228 923.645C115.613 923.645 113.448 924.681 112.096 926.528C110.563 928.646 110.247 931.664 111.284 934.818C111.464 935.313 111.915 936.44 112.141 936.935L113.088 936.394Z' fill='#07317D')
								path(d='M100.327 943.738C100.101 943.287 99.7858 942.251 99.6054 941.801C98.7036 939.053 98.9291 936.395 100.237 934.593C101.364 933.061 103.213 932.205 105.422 932.205C110.608 932.205 116.289 936.71 118.138 942.206C118.228 942.521 118.589 942.702 118.904 942.566C119.22 942.476 119.4 942.116 119.265 941.801C117.281 935.854 111.104 930.989 105.467 930.989C102.852 930.989 100.688 932.025 99.3349 933.872C97.8018 935.989 97.4862 939.007 98.5232 942.161C98.7036 942.656 99.1545 943.783 99.38 944.278L100.327 943.738Z' fill='#07317D')
								path(d='M174.231 986.4L229.963 953.694' stroke='#C9E6DD' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M154.797 975.182L210.348 942.611' stroke='#C9E6DD' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M135.543 963.875L190.689 931.529' stroke='#C9E6DD' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
								path(d='M116.875 952.207L171.525 920.131' stroke='#C9E6DD' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
							g.svg-block.svg-block--11
								path(d='M769.338 -3H764.062V112.824H769.338V-3Z' fill='#EBEFFF')
								path(d='M774.021 114.208C774.112 110.179 770.917 106.838 766.884 106.747C762.851 106.656 759.507 109.848 759.416 113.878C759.325 117.907 762.52 121.248 766.553 121.339C770.586 121.43 773.93 118.238 774.021 114.208Z' fill='#EBEFFF')
						defs
							lineargradient#paint0_linear(x1='854.086' y1='-8' x2='854' y2='348' gradientUnits='userSpaceOnUse')
								stop(stop-color='#EEFAD2')
								stop(offset='1' stop-color='#EEFAD2' stop-opacity='0')
							lineargradient#paint1_linear(x1='850.95' y1='489.017' x2='868.275' y2='503.647' gradientUnits='userSpaceOnUse')
								stop(stop-color='#F9A098')
								stop(offset='0.9246' stop-color='#E88087')
							lineargradient#paint2_linear(x1='612' y1='535' x2='437' y2='817' gradientUnits='userSpaceOnUse')
								stop(stop-color='#C6CBD1')
								stop(offset='1' stop-color='#E6EBF5')
							lineargradient#paint3_linear(x1='913.719' y1='525.608' x2='913.719' y2='606.866' gradientUnits='userSpaceOnUse')
								stop(stop-color='#BBC0C5')
								stop(offset='1' stop-color='#E0E5EE')
							lineargradient#paint4_linear(x1='58.1304' y1='867.265' x2='58.1304' y2='940.066' gradientUnits='userSpaceOnUse')
								stop(stop-color='#A4FD93')
								stop(offset='1' stop-color='#FDFCD1')
							lineargradient#paint5_linear(x1='1026.01' y1='920.899' x2='1026.01' y2='967.569' gradientUnits='userSpaceOnUse')
								stop(stop-color='#22D327')
								stop(offset='1' stop-color='#27A463')
							lineargradient#paint6_linear(x1='1011.2' y1='785.835' x2='1011.2' y2='915.221' gradientUnits='userSpaceOnUse')
								stop(stop-color='#22D327')
								stop(offset='1' stop-color='#27A463')
							lineargradient#paint7_linear(x1='1016.63' y1='956.091' x2='1016.63' y2='998.924' gradientUnits='userSpaceOnUse')
								stop(stop-color='#22D327')
								stop(offset='1' stop-color='#27A463')
							clippath#clip0
								rect(width='1138' height='1041' fill='white' transform='translate(0 -5)')

		.section.section--2.fears
			.fears__text.main-text
				p Мы решили развеять эти предубеждения и поговорили с обычными женщинами, которые уже начали инвестировать и получили источник независимого дополнительного дохода. Их рассказы мы обезличили, чтобы сохранить финансовую тайну, и оформили в виде удобных карточек, которые помогут развеять основные страхи и мифы об инвестировании!
			.fears__slider-conteiner
				.fears__slider.swiper-container
					.fears__list.swiper-wrapper
						.fears__slide.swiper-slide
							.fears__item.fear.fear--1
								.fear__inner
									.fear__side.fear__side--front
										.fear__head Страх №1
										.fear__title Инвестиции — это очень сложно, <br>я никогда <br>не научусь!
										.fear__img
											img(src="images/fear-1.svg" alt="Страх №1")
									.fear__side.fear__side--back
										.fear__head Страх №1
										.fear__title.fear__title--back Инвестиции — это очень сложно, я никогда не научусь!
										.fear__text.card-text
											p Большинство опрошенных нами женщин сошлись во мнении, что инвестиции — это гораздо проще, чем им казалось. Необязательно иметь для этого экономическое или финансовое образование — достаточно обладать базовым уровнем финансовой грамотности. Более того, не все инвесторы проходят специальное обучение — некоторые выбирают готовые инвестиционные стратегии от надежных брокеров с проверенной репутацией.
							.fears__item.fear.fear--2
								.fear__inner
									.fear__side.fear__side--front
										.fear__head Страх №2
										.fear__title Для инвестирования нужен весомый стартовый капитал.
										.fear__img
											img(src="images/fear-2.svg" alt="Страх №2")
									.fear__side.fear__side--back
										.fear__head Страх №2
										.fear__title.fear__title--back Для инвестирования нужен весомый стартовый капитал.
										.fear__text.card-text
											p Хорошие новости: и это утверждение оказалось мифом. Мы выяснили, что при выборе одного из готовых инвестиционных решений от Сбера начать инвестировать можно с суммой всего в&nbsp;1&nbsp;000 руб.
											p Да, интуитивно кажется, что чем больше размер вложений, тем больше будет доход… Однако зависимость не совсем прямая, и получение дохода в любом случае будет зависеть от того, какая была выбрана стратегия инвестирования и какие именно ценные бумаги покупаются на рынке.
						.fears__slide.swiper-slide
							.fears__item.fear.fear--3
								.fear__inner
									.fear__side.fear__side--front
										.fear__head Страх №3
										.fear__title Инвестиции отнимают очень много времени, а у меня и так есть работа, дом, семья…
										.fear__img
											img(src="images/fear-3.svg" alt="Страх №3")
									.fear__side.fear__side--back
										.fear__head Страх №3
										.fear__title.fear__title--back Инвестиции отнимают очень много времени, а у меня и так есть работа, дом, семья…
										.fear__text.card-text
											p В этом случае опять же могут помочь готовые инвестиционные решения. Сама суть таких программ подразумевает, что начинающему инвестору не нужно тратить много времени на чтение специальной литературы, технический анализ рынка, выбор конкретных акций… Все это делают за него эксперты, обладающие не только обширными теоретическими знаниями, но и богатым практическим опытом.
							.fears__item.fear.fear--4
								.fear__inner
									.fear__side.fear__side--front
										.fear__head Страх №4
										.fear__title Придется скачивать какие-то приложения со страшными графиками?
										.fear__img
											img(src="images/fear-4.svg" alt="Страх №4")
									.fear__side.fear__side--back
										.fear__head Страх №4
										.fear__title.fear__title--back Придется скачивать какие-то приложения со страшными графиками?
										.fear__text.card-text
											p Многие из наших собеседниц признавались, что непонятные приложения с графиками роста и падения цен на акции пугали их едва ли не больше всего… К счастью, и они не всегда необходимы.
											p Например, стать инвестором по одной из программ Сбера можно за несколько минут с помощью обычного приложения <a href="" target="_blank">СберБанк Онлайн</a>, которое и так стоит у многих из нас. Более того, там есть удобная витрина инвестиций, где можно подобрать для себя подходящие варианты, и тест на риск-профиль.
						.fears__slide.swiper-slide
							.fears__item.fear.fear--5
								.fear__inner
									.fear__side.fear__side--front
										.fear__head Страх №5
										.fear__title Акции, облигации, паевые фонды… Я не смогу составить свой портфель!
										.fear__img
											img(src="images/fear-5.svg" alt="Страх №5")
									.fear__side.fear__side--back
										.fear__head Страх №5
										.fear__title.fear__title--back Акции, облигации, паевые фонды… Я не смогу составить свой портфель!
										.fear__text.card-text
											p Вам не обязательно разбираться в тонкостях фондового рынка и уметь выбирать ценные бумаги самостоятельно. Можно просто выбрать одно из готовых инвестиционных решений от Сбера.
											p Инвесторы рассказали нам про некоторые из них:
											ul
												li Индивидуальный инвестиционный счет по стратегии «Накопительная»;
												li Открытые паевые инвестиционные фонды;
												li Индивидуальный пенсионный план.


					.fears__control
						.fears__arrow.fears__arrow--left
							svg
								use(xlink:href="images/sprite.svg#arrow-left")
						.fears__arrow.fears__arrow--right
							svg
								use(xlink:href="images/sprite.svg#arrow-right")
				a.fears__btn(href="javascript:;") Узнать больше об инвестициях
				.fears__pagination.swiper-pagination
		.section.section--3.offers
			.offers__slider-container
				.offers__slider.swiper-container
					.offers__list.swiper-wrapper
						.offers__item.offer.swiper-slide.offer--1
							.offer__inner
								.offer__side.offer__side--front
									.offer__head Предложение № 1
									.offer__title Индивидуальный инвестиционный счет по стратегии «Накопительная»
									.offer__img
										img(src="images/offer-1.svg" alt="Предложение № 1")
								.offer__side.offer__side--back
									.offer__head Предложение № 1
									.offer__title.offer__title--back Индивидуальный инвестиционный счет по стратегии «Накопительная»
									.offer__text.card-text.card-text--small
										p Индивидуальный инвестиционный счет (ИИС) — это удобный инструмент, который помогает получать дополнительные выгоды от инвестирования. Он не только дает возможность покупать ценные бумаги и получать доход от инвестирования, но и предоставляет право на получение специального налогового вычета от государства.
										p При выборе ИИС по стратегии «Накопительная» средства на счете инвестируются в готовые стратегии доверительного управления (этим занимаются эксперты Сбера). При этом государство ежегодно возвращает 13% (но не более 52 000 руб. в год) от внесенной суммы в виде налогового вычета. И эти средства также вносятся на ИИС, увеличивая сумму портфеля практически без участия клиента.
										p Важный нюанс: для того чтобы сохранить право на вычет, нельзя выводить средства с ИИС в течение трех лет с момента его заведения. Затем деньги можно забрать — или продолжить инвестирование.
										p.green ИИС по стратегии «Накопительная» может стать хорошей альтернативой срочному банковскому вкладу или способом накопить на крупную покупку.

						.offers__item.offer.swiper-slide.offer--2
							.offer__inner
								.offer__side.offer__side--front
									.offer__head Предложение № 2
									.offer__title Открытые паевые инвестиционные фонды
									.offer__img
										img(src="images/offer-2.svg" alt="Предложение № 2")
								.offer__side.offer__side--back
									.offer__head Предложение № 2
									.offer__title.offer__title--back Открытые паевые инвестиционные фонды
									.offer__text.card-text.card-text--small
										p Несмотря на «сложное» название, Открытые паевые инвестиционные фонды (ОПИФ) — это просто готовые портфели ценных бумаг, объединенных какой-либо инвестиционной идеей. Клиентам не нужно продумывать стратегию инвестирования — нужно лишь выбрать подходящий фонд.
										p Каждый фонд сам выбирает определенную инвестиционную идею: например, инвестирует в нефтяной сектор, или в глобальное машиностроение, или в акции топовых российских компаний. Всеми операциями — подбором, приобретением или продажей ценных бумаг — занимается управляющий фондом.
										p От клиента требуется лишь подобрать подходящую для себя инвестиционную идею и купить долю (пай) соответствующего фонда. Если будет расти стоимость фонда, будет расти и стоимость доли в нем.
										p.green ОПИФ подходят для долгосрочного инвестирования: например, накоплений на расширение жилья или образование детей.

						.offers__item.offer.swiper-slide.offer--3
							.offer__inner
								.offer__side.offer__side--front
									.offer__head Предложение № 3
									.offer__title Индивидуальный пенсионный план
									.offer__img
										img(src="images/offer-3.svg" alt="Предложение № 3")
								.offer__side.offer__side--back
									.offer__head Предложение № 3
									.offer__title.offer__title--back Индивидуальный пенсионный план
									.offer__text.card-text.card-text--small
										p Индивидуальный пенсионный план (ИПП) — это долгосрочная инвестиционная стратегия, которая, пожалуй, является одной из самых безопасных. Все дело в том, что доходность этого инструмента не может быть отрицательной по закону.
										p ИПП подразумевает, что клиент передает свои вложения в управление Негосударственного пенсионного фонда (НПФ) CберБанка. НПФ управляет этими средствами, инвестируя их в консервативные (обладающие невысокой доходностью, но высокой стабильностью) ценные бумаги, и зарабатывает инвестиционный доход.
										p После выхода на пенсию клиент может сразу забрать всю сумму (свои вложения + полученный доход), либо НПФ в течение 15 лет будет выплачивать ему ежемесячную фиксированную сумму — так называемую негосударственную пенсию.
										p.green ИПП подойдет для долгосрочного инвестирования с целью обеспечить качество своей жизни на пенсии. Регулярное вложение небольших сумм в период максимальной трудоспособности поможет накопить солидную подушку безопасности к старости.
				.offers__pagination.swiper-pagination